


<!--

    <div class="m-form__section" formGroupName="downtime">

      <div class="m-form__heading">
        <h3 class="m-form__heading-title"></h3>
      </div>

      <div class="m-form__group form-group">
        <div class="m-checkbox-list">
          <label class="m-checkbox">
            <input type="checkbox" formControlName="isEnabled">
            {{'general.applications.downtime.isActive' | translate}}<span></span>
          </label>
        </div>
      </div>

      <div class="form-group m-form__group">
        <label>{{'general.applications.downtime.message' | translate}}</label>
        <div class="m-input-icon m-input-icon--left">
          <input class="form-control m-input" formControlName="message"
                 placeholder="{{'general.applications.downtime.message' | translate}}">
          <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="fa fa-comment-o"></i></span></span>
        </div>
        <span class="m-form__help"></span>
      </div>

    </div>

  </div>
</div>-->
