<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <div fxFlex="100"
       formGroupName="meta">

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0"
                           (opened)="setStep(0)"
                           hideToggle="true"
                           formGroupName="main">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'general.articles.edit.sidebar.meta.main.title' | translate}}</mat-panel-title>
          <mat-panel-description>
            {{ 'general.articles.edit.sidebar.meta.main.description' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row"
             fxLayoutWrap="wrap"
             *ngIf="step === 0">
          <mat-form-field fxFlex="100"
                          hintLabel="Max 70 characters">
            <input matInput maxlength="70"
                   placeholder="{{ 'general.articles.edit.sidebar.meta.main.titleInput' | translate}}"
                   formControlName="title">
            <mat-hint align="end">{{form.get('meta.main.title').value.length || 0}}</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="100"
                          hintLabel="Max 156 characters">
            <textarea matInput maxlength="156"
                      placeholder="{{ 'general.articles.edit.sidebar.meta.main.descriptionInput' | translate}}"
                      formControlName="description"></textarea>
            <mat-hint align="end">{{form.get('meta.main.description').value.length || 0}}</mat-hint>
          </mat-form-field>

        </div>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1"
                           (opened)="setStep(1)"
                           hideToggle="true"
                           formGroupName="facebook">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'general.articles.edit.sidebar.meta.facebook.title' | translate}}</mat-panel-title>
          <mat-panel-description>
            {{ 'general.articles.edit.sidebar.meta.facebook.description' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row"
             fxLayoutWrap="wrap"
             *ngIf="step === 1">

          <div style="border: 1px solid #cecece; min-height: 150px; width: 100%; text-align: center">
            Facebook Image
          </div>

          <mat-form-field fxFlex="100"
                          hintLabel="Max 70 characters">
            <input matInput maxlength="70"
                   placeholder="{{ 'general.articles.edit.sidebar.meta.facebook.titleInput' | translate}}"
                   formControlName="title">
            <mat-hint align="end">{{form.get('meta.facebook.title').value.length || 0}}</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="100"
                          hintLabel="Max 156 characters">
            <textarea matInput maxlength="156"
                      placeholder="{{ 'general.articles.edit.sidebar.meta.main.descriptionInput' | translate}}"
                      formControlName="description"></textarea>
            <mat-hint align="end">{{form.get('meta.facebook.description').value.length || 0}}</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2"
                           (opened)="setStep(2)"
                           hideToggle="true"
                           formGroupName="twitter">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'general.articles.edit.sidebar.meta.twitter.title' | translate}}</mat-panel-title>
          <mat-panel-description>
            {{ 'general.articles.edit.sidebar.meta.twitter.description' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row"
             fxLayoutWrap="wrap"
             *ngIf="step === 2">

          <div style="border: 1px solid #cecece; min-height: 150px; width: 100%; text-align: center">
            Twitter Image
          </div>

          <mat-form-field fxFlex="100"
                          hintLabel="Max 70 characters">
            <input matInput maxlength="70"
                   placeholder="{{ 'general.articles.edit.sidebar.meta.main.titleInput' | translate}}"
                   formControlName="title">
            <mat-hint align="end">{{form.get('meta.twitter.title').value.length || 0}}</mat-hint>
          </mat-form-field>

          <mat-form-field fxFlex="100"
                          hintLabel="Max 156 characters">
            <textarea matInput maxlength="156"
                      placeholder="{{ 'general.articles.edit.sidebar.meta.main.descriptionInput' | translate}}"
                      formControlName="description"></textarea>
            <mat-hint align="end">{{form.get('meta.twitter.description').value.length || 0}}</mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

    </mat-accordion>

  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
