:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}
:host {
  .sideNav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
  }
  figure {
    background-color: transparent;
  }
  .sideNav {
    width: 25%;
  }
  .mat-drawer-container {
    overflow: visible;
    .sideNav {
      overflow: auto;
    }
  }
  .mat-drawer-content {
    padding: 0;
  }
  @media (min-width: 959px) {
    .mat-drawer-side {
      background-color: transparent;
      box-shadow: none!important;
    }
  }
  .mat-slider-horizontal {
    width: 100%;
    min-width: 1px;
  }

  .sponsor-badge h3 {
    color: red;
    font-weight: bolder;
    padding-top: 7px;
  }
}
