.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sideNav-container {
  flex: 1;
}

.sideNav {
  border: 1px solid rgba(111, 111, 111, 0.5);
  margin: 5px;
  padding: 10px;
  width: 20%;
}

.mat-drawer-content {
  margin-left: 0;
}

.is-mobile .sideNav-container {
  flex: 1 0 auto;
}

.mat-sideNav-content {
  min-height: 300px;
  padding: 20px;
}
