<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" [class.is-mobile]="mobileQuery.matches">

    <mat-toolbar class="toolbar">
      <button type="button"
              mat-raised-button
              color="warn"
              (click)="sideNav.toggle()">
        <mat-icon>menu</mat-icon>
        {{'general.sponsors.list.filterTitle' | translate}}
      </button>
    </mat-toolbar>

    <mat-sidenav-container class="sideNav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #sideNav
                   class="sideNav"
                   [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="56">
        <sponsor-filter
          (setFilters)="setFilters($event); sideNav.toggle();"
          [categories]="categories$ | async">
        </sponsor-filter>
      </mat-sidenav>

      <mat-sidenav-content class="mat-sideNav-content">
        <div *ngFor="let sponsor of sponsors$ | async | categoryFilter: currentFilter"
             fxFlex.gt-sm="33.3333"
             fxFlex.gt-xs="100%"
             fxFlex="100">
          <sponsor-item
            [sponsor]="sponsor">
          </sponsor-item>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
