<div fxLayout="row" fxLayoutWrap="wrap">

  <div fxFlex="100">
    <mat-toolbar class="toolbar">
      <button type="button"
              mat-raised-button
              color="warn"
              (click)="sideNav.toggle()">
        <mat-icon>filter_list</mat-icon>
        {{'general.sponsors.list.filterTitle' | translate}}
      </button>
      <button type="button"
              mat-raised-button
              color="accent"
              [routerLink]="['/sponsors/create']">
        <mat-icon>note_add</mat-icon>
        {{'general.sponsors.list.createSponsor' | translate}}
      </button>
    </mat-toolbar>
  </div>


  <div fxFlex="100" [class.is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="sideNav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #sideNav
                   class="sideNav"
                   [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="56">
        <sponsor-filter
          (setFilters)="setFilters($event); sideNav.toggle();"
          [categories]="categories$ | async">
        </sponsor-filter>
      </mat-sidenav>

      <mat-sidenav-content class="mat-sideNav-content">
        <div *ngIf="!(sponsors$ | async)">
          <loading-indicator></loading-indicator>
        </div>
        <p *ngIf="(sponsors$ | async)?.length === 0">
          {{'general.sponsors.list.noSponsorsFound' | translate}}
        </p>
        <div *ngFor="let sponsor of sponsors$ | async | categoryFilter: 'assignedCategories' : currentFilter"
             fxFlex.gt-sm="33.3333"
             fxFlex.gt-xs="100%"
             fxFlex="100">
          <sponsor-item
            (removeSponsor)="removeSponsor($event)"
            [sponsor]="sponsor">
          </sponsor-item>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
