<div class="row">
  <div class="col-xl-12">
    <router-outlet></router-outlet>
    <!--<honorary-list [club]="club"></honorary-list>-->
  </div>
  <!--<div class="col-xl-6" *ngIf="club">
    <honorary-form
      [club]="club"
      [members]="memberService.getMembers() | async | filterBy: ['clubData.assignedClub'] : club.id | filterBy: ['clubData.status'] : '2'">
    </honorary-form>
  </div>-->
</div>

    <!--
    <p>{{'general.clubs.edit.honoraries.membersWithHonoraryStatus' | translate}}</p>
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th>{{ 'general.clubs.edit.honoraries.colTitles.memberName' | translate}}</th>
        <th>{{ 'general.clubs.edit.honoraries.colTitles.since' | translate}}</th>
        <th *ngIf="showActionLinks">{{ 'general.tables.colTitles.actions' | translate}}</th>
      </tr>
      </thead>
      <tr *ngFor="let member of members">
        <td class="text-left">
          <a [routerLink]="['/members/detail', member.id]">
            {{member.mainData.lastName}} {{member.mainData.firstName}}
            {{ moment(member.mainData.birthday).format('L') }}
          </a>
        </td>
        <!--<td>
          <span *ngIf="(clubHonoraryService.clubHonoraries$ | async
                        | filterBy: ['assignedClub'] : club.id
                        | filterBy: ['assignedMember'] : member.id)?.length > 0">

            {{(clubHonoraryService.clubHonoraries$ | async
          | filterBy: ['assignedClub'] : club.id
          | filterBy: ['assignedMember'] : member.id)[0].since | date: 'dd.MM.y'}}
          </span>
        </td>

        <td *ngIf="showActionLinks">
          <button class="btn btn-warning" (click)="setMember(member); toggleForm()">
            <i class="fa fa-edit"></i>
          </button>
          <!--<button *ngIf="(clubHonoraryService.clubHonoraries$ | async
          | filterBy: ['assignedClub'] : club.id
          | filterBy: ['assignedMember'] : member.id)?.length === 1" class="btn btn-danger"
                  (click)="setMember(member); deleteHonorary()"
                  title="{{ 'general.clubs.edit.honoraries.deleteHonoraryHonorary' | translate}}">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
    </table>

    <br/>

    <!--<div class="text-right" *ngIf="showActionLinks">
      <button class="btn btn-warning" (click)="toggleForm()" *ngIf="!showForm"
              title="{{ 'general.clubs.edit.honoraries.createHonorary' | translate}}">
        <i class="fa fa-plus"></i> {{ 'general.clubs.edit.honoraries.createHonorary' | translate}}
      </button>
    </div>-->

<ng-template #loadingTemplate>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
