<form class="form-horizontal" novalidate (ngSubmit)="saveCategory()" [formGroup]="form">
  <div fxLayout="row" fxLayoutWrap="wrap">

    <div fxFlex="100">
      <div class="mat-card-top">
        <mat-card>
          <mat-card-title>
            <mat-icon>mode_edit</mat-icon>
            {{ 'general.menu.category.edit' | translate}}
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>

          <mat-card-content *ngIf="category; else loadingTemplate">

            <!--<mat-tab-group class="demo-tab-group" [dynamicHeight]="true">
              <mat-tab label="{{'general.categories.edit.mainTitle' | translate}}">-->

            <div fxLayout="row" fxLayoutWrap="wrap">

              <mat-form-field fxFlex.gt-sm="50"
                              fxFlex="100"
                              hintLabel="Max {{titleMaxLength}} characters">
                <input matInput maxlength="{{titleMaxLength}}"
                       placeholder="{{'general.categories.list.colTitles.title' | translate}}"
                       formControlName="title">
                <mat-hint align="end">{{form.get('title').value.length || 0}}/{{titleMaxLength}}</mat-hint>
              </mat-form-field>

              <mat-form-field fxFlexOffset="1"
                              fxFlex.gt-sm="49"
                              fxFlex="100">
                <mat-select placeholder="{{'general.categories.list.colTitles.category' | translate}}"
                            formControlName="assignedCategoryType">
                  <mat-option *ngFor="let categoryType of categoryTypes$ | async | orderBy: 'link'"
                              [value]="categoryType.id">
                    {{ 'general.menu.' + categoryType.link + '.main' | translate}}
                  </mat-option>
                </mat-select>
                <mat-hint align="end">
                  {{'general.categories.edit.categoryDefaultPlaceholder' | translate }}
                </mat-hint>
              </mat-form-field>


              <div fxFlex="100" style="margin-top: 25px;">
                <label>{{'general.categories.edit.descriptionPlaceHolder' | translate}}</label>
                <quill-editor [style]="{height: '250px'}"
                              formControlName="description"
                              placeholder="{{'general.categories.edit.descriptionPlaceHolder' | translate}}">
                </quill-editor>
              </div>
            </div>
            <!--</mat-tab>
            <mat-tab label="{{'general.categories.edit.assignedObjectsTitle' | translate}}">
              <div class="form-container">ToDo</div>
              <!--<category-assign-objects *ngIf="categoryTypes"
                               [form]="form"
                               [seasons]="seasonService.getSeasons() | async"
                               [categoryTypes]="categoryTypes">
                               </category-assign-objects>
            </mat-tab>
            <mat-tab label="{{'general.tables.colTitles.creation' | translate }}">
              <creation-form class="form-container"
                             [form]="form"
                             [users]="users$ | async">
              </creation-form>
            </mat-tab>
          </mat-tab-group>-->

            <mat-card-actions>
              <button mat-raised-button
                      color="primary"
                      type="submit"
                      [disabled]="!form.valid">
                {{'general.categories.edit.saveCategory' | translate}}
              </button>
              <button type="button"
                      mat-raised-button
                      color="accent"
                      (click)="cancel()">
                {{'general.cancel' | translate}}
              </button>
              <button mat-raised-button
                      color="warn"
                      (click)="removeCategory()"
                      *ngIf="category.id && !category.isImported">
                {{'general.categories.list.removeCategory' | translate}}
              </button>
            </mat-card-actions>

          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</form>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
