<div fxLayout="row"
     fxLayoutWrap="wrap">

  <mat-list fxFlex="100">

    <mat-list-item>
      <h3 matSubheader>{{'general.locations.list.colTitles.name' | translate}}</h3>
      {{location.title}}
    </mat-list-item>

    <mat-list-item>
      <h3 matSubheader>{{'general.locations.list.colTitles.type' | translate}}</h3>
      <a *ngFor="let category of categories$ | async | filterBy: ['id']: location.assignedCategory"
         [routerLink]="['/categories/detail', location.assignedCategory]">
        {{category.title}}
      </a>
    </mat-list-item>

    <mat-list-item>
      <h3 matSubheader>{{'general.locations.list.colTitles.address' | translate}}</h3>
      <div>
        {{location.address.streetName}} {{location.address.houseNumber ? location.address.houseNumber : ''}}<br/>
        {{location.address.zip}} {{location.address.city}}<br/>
        {{location.address.county}}
      </div>
    </mat-list-item>
  </mat-list>
</div>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
