<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <div fxFlex.gt-sm="55"
       fxFlex="100"
       style="margin-bottom: 25px;">
    <h3>{{'general.clubs.edit.history' | translate}}</h3>
    <quill-editor [style]="{height: '600px'}"
                  formControlName="history">
    </quill-editor>
  </div>

  <div fxFlexOffset.gt-sm="5"
       fxFlex.gt-sm="40"
       fxFlex="100">
    <h3>{{'general.clubs.edit.timeLineTitle' | translate}}</h3>

    <time-line (add)="add.emit($event)"
               (cancel)="cancel($event)"
               (delete)="delete.emit($event)"
               (edit)="edit.emit($event)"
               (save)="save.emit($event)"
               [showLinks]="true"
               [selectedTimeLineEvent]="selectedTimeLineEvent"
               [form]="form.controls['timeLine']">
    </time-line>

  </div>
</div>
