<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="25"
       fxFlex="100">
    <h3>{{'general.clubs.edit.mainTitle' | translate}}</h3>
    <mat-list dense
              *ngIf="members && club; else loadingTemplate">
      <mat-list-item *ngFor="let memberState of memberStateService.getMemberStates()">
        <div matLine
             fxLayout="row"
             fxLayoutWrap="wrap">
          <span fxFlex="60">{{'general.members.clubMemberStates.' + memberState.title | translate}}</span>
          <span fxFlex="40">{{(members | filterBy: ['clubData.assignedClub'] : club.id | filterBy: ['clubData.status'] : memberState.value).length}}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlexOffset.gt-sm="1"
       fxFlex.gt-sm="74"
       fxFlex="100">
    <h3>
      {{'general.clubs.edit.assignedTeams.teams' | translate}} /
      {{'general.clubs.edit.assignedTeams.season' | translate}}
    </h3>

    <div *ngIf="seasons && teams; else loadingTemplate">
      <mat-list dense
                *ngFor="let season of seasons | orderBy: ['-title']">
        <mat-list-item>
          <h3 matLine *ngIf="!isCurrentSeason(season)">{{season.title}}</h3>
          <p matLine>
            <a *ngFor="let team of teams | filterBy: ['assignedSeason']: season.id | orderBy: ['title']; let last = last"
            [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}
            </a>
            <span *ngIf="!last">,</span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
