<div fxLayout="row"
     fxLayoutWrap="wrap" [formGroup]="form">
  <div fxFlex.gt-sm="65"
       fxFlex.gt-xs="100">

    <div fxLayout="row"
         fxLayoutWrap="wrap">

      <mat-form-field fxFlex.gt-sm="33"
                      fxFlex.gt-xs="100">
        <input matInput
               placeholder="{{'general.clubs.edit.title' | translate}}"
               formControlName="title"/>
      </mat-form-field>


      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="32"
                      fxFlex.gt-xs="100">
        <mat-select placeholder="{{'general.clubs.edit.location' | translate}}"
                    formControlName="assignedLocation">
          <mat-option *ngFor="let location of locations | orderBy: ['title']"
                      [value]="location.id">{{location.title}}
          </mat-option>
        </mat-select>
        <mat-hint align="end" *ngIf="!form.controls['assignedLocation']">
          {{'general.clubs.edit.chooseLocation' | translate}}
        </mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutWrap="wrap"
         formGroupName="info">
      <mat-form-field fxFlex.gt-sm="16"
                      fxFlex.gt-xs="100">
        <input matInput
               placeholder="{{'general.clubs.edit.foundedIn' | translate}}"
               formControlName="founding"/>
      </mat-form-field>


      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="16"
                      fxFlex.gt-xs="100">
        <input matInput
               placeholder="{{'general.clubs.edit.clubColours' | translate}}"
               formControlName="clubColours"/>
      </mat-form-field>

      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="32"
                      fxFlex.gt-xs="100">
        <input matInput
               placeholder="{{'general.clubs.edit.homepage' | translate}}"
               formControlName="website"/>
        <mat-hint align="end"><!-- *ngIf="isUrl(form.get('info.website').value)" -->
          <a target="_blank" [href]="'http://' + form.get('info.website').value">
            {{'general.clubs.edit.visitHomepage' | translate}}
          </a>
        </mat-hint>
      </mat-form-field>

      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="32"
                      fxFlex.gt-xs="100">
        <mat-select placeholder="{{'general.clubs.edit.contact' | translate}}"
                    formControlName="assignedContact">
          <mat-option
            *ngFor="let member of members | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
            [value]="member.id">
            {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date: 'dd.MM.yy'}}
          </mat-option>
        </mat-select>
        <mat-hint align="end">{{'general.clubs.edit.contact' | translate}}</mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutWrap="wrap"
         formGroupName="fussballde">
      <mat-form-field fxFlex.gt-sm="33"
                      fxFlex.gt-xs="100">
        <input matInput
               placeholder="{{'general.clubs.edit.fussballDeId' | translate}}"
               formControlName="clubId"/>
      </mat-form-field>

      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="65"
                      fxFlex.gt-xs="100">
        <input matInput
               placeholder="{{'general.clubs.edit.fussballDeUrl' | translate}}"
               formControlName="clubUrl"/>
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutWrap="wrap"
         style="margin-top: 25px;">
      <div fxFlex="100">
        <label>{{'general.clubs.edit.description' | translate}}</label>
        <quill-editor [style]="{height: '150px'}"
                      formControlName="description">
        </quill-editor>
      </div>
    </div>
  </div>


  <div fxFlexOffset="5"
       fxFlex.gt-sm="30"
       fxFlex.gt-xs="100">
    <div style="height: 500px; width: 100%; background-color: #7c7c7c">Vereinswappen: Upload und Anzeige</div>
  </div>

</div>

