<div class="m-portlet" [formGroup]="form">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">{{ 'general.menu.club.edit' | translate}}</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li
          class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">
          <a
            class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill m-dropdown__toggle">
            <i class="la la-ellipsis-v"></i>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__section m-nav__section--first">
                      <span class="m-nav__section-text">{{'general.tables.colTitles.quickActions' | translate}}</span>
                    </li>
                    <li class="m-nav__item">
                      <a class="m-nav__link" [routerLink]="['details', club.id]">
                        <i class="m-nav__link-icon fa fa-pencil"></i>
                        <span class="m-nav__link-text">{{'general.detail' | translate }}</span>
                      </a>
                    </li>
                    <li class="m-nav__item">
                      <a class="m-nav__link" (click)="removeClub.emit(club)">
                        <i class="m-nav__link-icon fa fa-remove"></i>
                        <span class="m-nav__link-text">{{'general.delete' | translate }}</span>
                      </a>
                    </li>
                    <li class="m-nav__separator m-nav__separator--fit"></li>
                    <li class="m-nav__item">
                      <a class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm"
                         [routerLink]="['/']">{{'general.menu.club.list' | translate}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#m_tabs_5_1">
          {{'general.clubs.edit.mainTitle' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_5_2">{{ 'general.clubs.edit.historyTitle' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_5_3">
          {{ 'general.clubs.edit.managementTitle' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_5_4">{{ 'general.clubs.edit.stadiumTitle' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_5_5">
          {{'general.tables.colTitles.creation' | translate }} & {{'general.tables.colTitles.publication' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_5_6">
          {{ 'general.clubs.edit.honorariesTitle' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#m_tabs_5_7">{{ 'general.clubs.edit.mediaTitle' | translate }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="m_tabs_5_1" role="tabpanel">
        <div class="row">

          <div class="col-xl-4">
            <div class="form-body">
              <div class="form-group form-md-line-input">
                <label class="control-label">{{'general.clubs.edit.title' | translate}}</label>
                <input formControlName="title" class="form-control"
                       placeholder="{{'general.clubs.edit.title' | translate}}"/>
              </div>


              <label for="loc" class="control-label">{{'general.clubs.edit.location' | translate}}</label>
              <select id="loc" class="form-control" formControlName="assignedLocation" style="margin-bottom: 15px">
                <option value="" disabled>{{'general.clubs.edit.chooseLocation' | translate}}</option>
                <option *ngFor="let location of (locationService.getLocations() | async) | orderBy: ['title']"
                        [value]="location.id">{{location.title}}
                </option>
              </select>

              <div class="form-group form-md-line-input">
                <label class="control-label">{{'general.clubs.edit.description' | translate}}</label>
                <textarea formControlName="description" class="form-control"
                                placeholder="{{'general.clubs.edit.description' | translate}}">
                </textarea>
              </div>
            </div>
          </div>

          <div class="col-xl-4" formGroupName="info">
            <div class="form-group form-md-line-input">
              <label class="control-label">{{'general.clubs.edit.foundedIn' | translate}}</label>
              <input formControlName="founding" class="form-control"
                     placeholder="{{'general.clubs.edit.foundedIn' | translate}}"/>
            </div>

            <div class="form-group form-md-line-input">
              <label class="control-label">{{'general.clubs.edit.clubColours' | translate}}</label>
              <input formControlName="clubColours" class="form-control"
                     placeholder="{{'general.clubs.edit.clubColours' | translate}}"/>
            </div>

            <div class="form-group form-md-line-input">
              <label class="control-label">{{'general.clubs.edit.homepage' | translate}}</label>
              <input formControlName="website" class="form-control"
                     placeholder="{{'general.clubs.edit.homepage' | translate}}"/>
              <!--<span *ngIf="form.get('info').get('website').value !== ''" class="help-block">
                <a [href]="'http://' + form.get('info').get('website').value" target="_blank">
                  {{form.get('info').get('website').value}}
                </a>
              </span>-->
            </div>

            <div class="form-group form-md-line-input">
              <label class="control-label">{{'general.clubs.edit.contact' | translate}}</label>
              <input formControlName="contact" class="form-control"
                     placeholder="{{'general.clubs.edit.contact' | translate}}"/>
            </div>
          </div>

          <div class="col-xl-4" formArrayName="fussballde">
            <div class="form-group form-md-line-input">
              <label class="control-label">{{'general.clubs.edit.fussballDeId' | translate}}</label>
              <input formControlName="clubId" class="form-control"
                     placeholder="{{'general.clubs.edit.fussballDeId' | translate}}"/>
            </div>

            <div class="form-group form-md-line-input">
              <label class="control-label">{{'general.clubs.edit.fussballDeUrl' | translate}}</label>
              <input formControlName="clubUrl" class="form-control"
                     placeholder="{{'general.clubs.edit.fussballDeUrl' | translate}}"/>
            </div>

            <div class="form-group form-md-line-input">
              <div class="control-label">{{'general.clubs.edit.isMainClub' | translate}}</div>
              <input type="checkbox" class="form-control"/>
             <!-- <bSwitch
                [switch-off-text]="'general.no' | translate"
                [switch-on-text]="'general.yes' | translate"
                [switch-on-color]="'success'"
                [switch-off-color]="'danger'"
                [switch-disabled]="false"
                [switch-readonly]="false"
                [switch-animate]="true"
                formControlName="import2Calendar"
                [switch-base-class]="'bootstrap-switch'">
              </bSwitch>-->
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane" id="m_tabs_5_2" role="tabpanel">
        <div class="row">
          <div class="col-xl-12">
            <club-history [formGroup]="form"></club-history>
          </div>
          <div class="col-xl-12">
            <time-line
              [item]="club"
              [itemType]="'club'"
              [timeLineEvents]="club.assignedClubEvents"
              (removeTimeLineEvent)="removeClubTimeLineEvent($event)"
            ></time-line>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="m_tabs_5_3" role="tabpanel" formGroupName="management">
        <div class="row">
          <div class="col-xl-6">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">{{ 'general.clubs.edit.managementTitle' | translate }}</h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">

                <img *ngIf="club.management && club.management.photoUrl" [src]="club.management.photoUrl"
                     class="img img-thumbnail img-fluid"/>
                <media-uploader
                  [objectId]="club.id"
                  [objectType]="'clubManagement'"
                  [uploaderOptions]="uploaderOptions"
                  (uploadCompleted)="uploadCompleted($event)">
                </media-uploader>
                <br/>
                <div class="form-group">
                  <!--[config]="config" -->
                  <textarea class="form-control" formControlName="photoDescription"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <positions
              [item]="club"
              [itemType]="'club-management'"
              [positions]="club.management.positions"
              [showMembersFromList]="true"
              [showPositionsFromList]="true"
              (removePosition)="removeManagementPosition($event)">
            </positions>
          </div>
          <div class="col-xl-12">
            <time-line
              [item]="club"
              [itemType]="'club-management'"
              [timeLineEvents]="club.management.assignedManagementEvents"
              (removeTimeLineEvent)="removeManagementTimeLineEvent($event)"
            ></time-line>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="m_tabs_5_4" role="tabpanel">
        <div class="row">
          <div class="col-xl-6">
            <h3>{{ 'general.clubs.edit.seasonsTitle' | translate }}</h3>
            <!--<club-assigned-teams
              [club]="club"
              [seasons]="seasonService.seasons$ | async"
              [teams]="teamService.teams$ | async">
            </club-assigned-teams>-->
          </div>
        </div>
      </div>

      <div class="tab-pane" id="m_tabs_5_5" role="tabpanel">
        <div class="row">
          <div class="col-xl-6">
            <h3>{{'general.tables.colTitles.creation' | translate }}</h3>
            <!--<creation-form
              [item]="club"
              [users]="userService.getUsers() | async">
            </creation-form>-->
          </div>
          <div class="col-xl-6">
            <h3>{{'general.tables.colTitles.publication' | translate }}</h3>
            <!--<publication-form [item]="club"></publication-form>-->
          </div>
        </div>
      </div>

      <div class="tab-pane" id="m_tabs_5_6" role="tabpanel">
        FILES
      </div>

    </div>
  </div>

  <div class="m-portlet__foot text-right">
    <button type="submit" [disabled]="!form.valid" class="btn btn-success">
      {{'general.clubs.edit.saveClub' | translate}}
    </button>
    <button class="btn btn-danger" (click)="cancel()">
      {{'general.cancel' | translate}}
    </button>
  </div>

</div>
