<div fxLayout="row"
     fxLayoutWrap="wrap"
     *ngIf="member">

  <div fxFlex.gt-sm="32"
       fxFlex.gt-xs="100">
    <h3>{{'general.members.detail.main.person' | translate}}</h3>
    <mat-list dense>
      <mat-list-item>
        <span>{{'general.members.detail.main.salutation' | translate}}</span>
        {{ 'general.members.detail.main.' + member.mainData.gender | translate}}
      </mat-list-item>
      <mat-list-item *ngIf="member.mainData.title">
        <span>{{'general.members.detail.main.salutation' | translate}}</span>
        {{member.mainData.title}}
      </mat-list-item>
      <mat-list-item>
        <span>{{'general.members.detail.main.name' | translate}}</span>
        {{member.mainData.firstName}} {{member.mainData.lastName}}
      </mat-list-item>
      <mat-list-item>
        <span>{{'general.members.detail.main.birthday' | translate}}</span>
        <span style="font-weight: normal"
              *ngIf="member.mainData.birthday; else noBirthdayTemplate">
          {{member.mainData.birthday | date: 'dd.MM.yy' }}
        {{ memberService.calculateAge(member.mainData.birthday) }} {{'general.members.detail.main.years' | translate}}
        </span>
      </mat-list-item>
      <mat-list-item *ngIf="member.mainData.birthday">
        <span>{{'general.members.detail.main.zodiac' | translate}}</span>
        {{ 'general.members.detail.zodiacList.' + memberService.getZodiac(member.mainData.birthday) | translate }}
      </mat-list-item>
      <mat-list-item>
        <span>{{'general.members.detail.main.isImported' | translate}}</span>
        {{ member.isImported ? ('general.yes' | translate) : ('general.no' | translate) }}
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlexOffset="2"
       fxFlex.gt-sm="32"
       fxFlex.gt-xs="100">
    <h3>{{'general.members.detail.main.contact' | translate}}</h3>
    <mat-list dense
              *ngIf="member.contact && (member.contact.email !== '' || member.contact.phoneHome !== '' || member.contact.phoneMobile !== '' || member.contact.phoneWork || member.contact.fax); else noContactTemplate">
      <mat-list-item *ngIf="member.contact.email">
        <span>{{'general.members.detail.main.email' | translate}}</span>
        <a href="mailto: {{member.contact.email}}">{{member.contact.email}}</a>
      </mat-list-item>
      <mat-list-item *ngIf="member.contact.phoneHome">
        <span>{{'general.members.detail.main.phoneHome' | translate}}</span>
        {{member.contact.phoneHome}}
      </mat-list-item>
      <mat-list-item *ngIf="member.contact.phoneWork">
        <span>{{'general.members.detail.main.phoneWork' | translate}}</span>
        {{member.contact.phoneWork}}
      </mat-list-item>
      <mat-list-item *ngIf="member.contact.phoneMobile">
        <span>{{'general.members.detail.main.phoneMobile' | translate}}</span>
        {{member.contact.phoneMobile}}
      </mat-list-item>
      <mat-list-item *ngIf="member.contact.fax">
        <span>{{'general.members.detail.main.fax' | translate}}</span>
        {{member.contact.fax}}
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlexOffset="2"
       fxFlex.gt-sm="32"
       fxFlex.gt-xs="100">
    <h3>{{'general.members.detail.main.address' | translate}}</h3>
    <mat-list dense
              *ngIf="member.address; else noAddressTemplate">
      <mat-list-item>
        <p matLine>
          {{member.address.streetName}} {{member.address.houseNumber}}<br/>
          {{member.address.zip}} {{member.address.city}}<br/>
          {{member.address.county}}
        </p>
      </mat-list-item>
    </mat-list>

    <h3 *ngIf="member.comment">{{'general.members.detail.main.comment' | translate}}</h3>
    <div [innerHtml]="member.comment"></div>
  </div>
</div>

<ng-template #noAddressTemplate>
  <p>{{'general.members.detail.main.noAddress' | translate}}</p>
</ng-template>

<ng-template #noContactTemplate>
  <p>{{'general.members.detail.drive.noContact' | translate}}</p>
</ng-template>

<ng-template #noBirthdayTemplate>
  <p>{{'general.members.detail.drive.noBirthday' | translate}}</p>
</ng-template>
