<form class="form-horizontal" novalidate [formGroup]="form" (ngSubmit)="saveHonorary()">

  <div class="form-group">
    <label class="control-label">{{ 'general.clubs.edit.honoraries.member' | translate}}</label>
    <select formControlName="assignedMember" class="form-control">
      <option value="" disabled>{{ 'general.clubs.edit.honoraries.member' | translate}}</option>
      <option *ngFor="let member of members | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
              [value]="member.id">
        {{member.mainData.lastName}} {{member.mainData.firstName}}
        {{ moment(member.mainData.birthday).format('L') }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">{{ 'general.clubs.edit.honoraries.assignedArticle' | translate}}</label>
    <select formControlName="assignedArticle" class="form-control">
      <option value="" disabled>{{ 'general.clubs.edit.honoraries.assignedArticle' | translate}}</option>
      <option *ngFor="let article of articleService.getArticles() | async | orderBy: ['title']" [value]="article.id">
        {{ article.title }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">{{ 'general.clubs.edit.honoraries.date' | translate}}</label>
    <input formControlName="since" class="form-control" type="date"
           placeholder="{{ 'general.clubs.edit.honoraries.date' | translate}}">
  </div>

  <div class="text-right">
    <button class="btn btn-success" [disabled]="!form.valid">
      <i class="fa fa-save"></i> {{ 'general.clubs.edit.honoraries.saveHonorary' | translate}}
    </button>
  </div>

</form>
