<div class="page-wrap"
     *ngIf="categoryTypes$ | async as categoryTypes; else loadingTemplate"
     [formGroup]="form">

  <div class="header">

    <div fxLayout="row"
         fxLayoutWrap="wrap">

      <div fxFlex.gt-sm="88"
           fxFlex="100">
        <h2 class="title">Title</h2>
        <input class="title-document"
               type="text"
               placeholder="Ein ganz toller Titel für diesen blöden Artikel ..."
               formControlName="title">
      </div>

      <div fxFlex.gt-sm="12"
           fxFlex="100">
        <div class="button-row">
          <button mat-raised-button [matMenuTriggerFor]="menu">Publish &darr;</button>

          <button mat-icon-button (click)="notifications.toggle()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>

        <mat-menu #menu="matMenu">
          <div style="padding: 10px 20px;">
            <h4>Ready to publish your post?</h4>

            <mat-radio-group class="radio-group" formControlName="publication">
              <mat-radio-button class="radio-button"
                                *ngFor="let publication of publicationOptions"
                                [value]="publication.value">
                {{publication.text}}<br/>
                <span style="color: #cecece">{{publication.description}}</span>
              </mat-radio-button>
            </mat-radio-group>

            <hr style="margin: 25px 0;"/>

            <div class="button-row">
              <button mat-button type="button">Cancel</button>
              <button mat-raised-button type="button" color="primary">Publish</button>
            </div>
          </div>
        </mat-menu>

      </div>

      <mat-sidenav #notifications
                   position="end"
                   class="chat-panel"
                   mode="over"
                   fxFlex="60"
                   opened="false">
        <article-edit-sidebar (remove)="remove()"
                              [notifications]="notifications"
                              [categoryTypes]="categoryTypes | categoryFilter : 'link' : ['article.types', 'team.types']"
                              [categories]="categories$ | async"
                              [locations]="locations$ | async"
                              [matches]="matches$ | async"
                              [members]="members$ | async"
                              [seasons]="seasons$ | async"
                              [teams]="teams$ | async"
                              [form]="form">
        </article-edit-sidebar>
      </mat-sidenav>

    </div>

  </div>

  <div fxLayout="row"
       fxLayoutWrap="wrap">

    <div fxFlex.gt-sm="50"
         fxFlex="100"
         class="editor-header editor-header--first">
      <mat-toolbar style="background-color: transparent">
        <mat-toolbar-row>
          <h3 class="title">Markdown</h3>
          <span class="toolbar-spacer"></span>
          <a class="toolbar-icon" (click)="openMarkdownHelp()">
            <mat-icon>help_outline</mat-icon>
          </a>
          <a *ngIf="sf.enabled" class="toolbar-icon" (click)="fullScreenToggle()">
            <mat-icon>fullscreen</mat-icon>
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

    <div fxFlex.gt-sm="50"
         fxFlex="100"
         class="editor-header">
      <mat-toolbar style="background-color: transparent">
        <mat-toolbar-row>
          <h3 class="title">Preview</h3>
          <span class="toolbar-spacer"></span>
          <a class="toolbar-icon" (click)="toggleView()">
            <mat-icon>eye</mat-icon>
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>

  <div class="content">
    <textarea fxFlex.gt-sm="50"
              fxFlex="100"
              style="padding: 0 16px;margin: 0;overflow: auto;border: none;"
              formControlName="text">
    </textarea>
    <div fxFlex.gt-sm="50"
         fxFlex="100">
      <pre>{{form.getRawValue() | json}}</pre>
    </div>
  </div>

  <footer style="padding: 5px;" *ngIf="!viewSrcMode">
    <span *ngIf="enableWordsCount">Words: <span class="counter">{{words}}</span></span>
    <i class="separator"></i>
    <span *ngIf="enableCharactersCount">Characters: <span class="counter">{{characters}}</span></span>
  </footer>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>

