<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <div class="page">

    <div class="overlay"></div>

    <div class="header">
      <h2 class="title">Document Name</h2>

      <input
        class="title-document"
        type="text"
        name="documentTitle"
        placeholder="Testing"
        (change)="updateDocument()"
        formControlName="title"><!--
        (ngModelOptions)="{ debounce: 500 }"-->

      <p *ngIf="enableWordsCount && !viewSrcMode" class="words">Words: <span class="counter">{{words}}</span></p>
      <p *ngIf="enableCharactersCount && !viewSrcMode" class="characters">Characters: <span class="counter">{{characters}}</span>
      </p>
    </div>


    <div class="g mnone">
      <!-- editor-headers -->

      <div class="editor-header editor-header--first">
        <h3 class="title">Markdown</h3>
        <div class="zen-wrapper">
          <div class="zen-page">
            <a class="toggle-zen-mode" (click)="toggle()">Toggle Zen Mode</a><!-- zenmode.toggle() -->
            <div id="zen"></div>
          </div>
        </div>
      </div>

      <div class="editor-header">
        <h3 class="title">Preview</h3>
        <a [ngClass]="viewSrcMode ? 'preview-mode-toggle-html' : 'preview-mode-toggle-src'" (click)="toggleView()">Toggle
          Mode</a>
      </div>


      <!-- editor -->
      <div id="editor1" class="g-b g-b--t1of2 split split-editor">
        <!--<div id="editor" class="ui-resizable-e" ></div>-->
        <!-- [mode]="'sql'"
            [theme]="'eclipse'" -->
        <textarea ace-editor
                  class="ui-resizable-e"
                  formControlName="text"
                  [options]="options"
                  [readOnly]="false"
                  [autoUpdateContent]="true"
                  [durationBeforeCallback]="1000"
                  (textChanged)="onChange($event)"
                  style="min-height: 200px; width:100%; overflow: auto;"></textarea>
      </div>

      <!-- preview -->
      <!-- deBounce="150" -->
      <div id="preview1" class="g-b g-b--t1of2 split split-preview">
        <div id="preview" class="preview-html"><!-- preview -->
        </div>
      </div>


    </div>
  </div>

</div>
