/*
 * Actual Sticky Footer Styles
 *
.all-wrap {
  min-height: 100vh;
}*/

.page-wrap {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.app-sidenav {
  width: 100vh;
}
/*

/*
 * Make the Component injected by Router Outlet full height:
 *
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
} */
