<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="25"
       fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="55">
            <h1 class="ma-0"><b>Spieler</b> des Monats</h1>
            <small>gerald@morris.com</small>
            <p class="mt-xs mb-xs">Human Resources Manager</p>
            <a href="javascript:;" class="block mt-xs mb-xs">email@contact.com</a>
            <a href="javascript:;" class="block mt-xs mb-xs">www.example.com</a>
            <button mat-raised-button color="primary">Edit Profile</button>
          </div>
          <div fxFlex="45">
            <figure>
              <div class="text-xs-center">
                <img src="assets/images/avatar.jpg" alt="" class="radius-circle">
                <div class="text-md mt10">Account Usage</div>
              </div>
              <div class="ma-xs">
              </div>
              <div  class="text-xs-center"><small>234Gb of 879Gb</small></div>
            </figure>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <div fxLayout="row" class="text-xs-center">
          <div fxFlex="33">
            <h1 class="ma-0"><b>23,8K</b></h1>
            <small>Followers</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>569</b></h1>
            <small>Following</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>67</b></h1>
            <small>Posts</small>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <h4 class="mt-0">About</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlexOffset.gt-sm="1"
       fxFlex.gt-sm="24"
       fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="55">
            <h1 class="ma-0"><b>Mitglied</b> des Monats</h1>
            <small>gerald@morris.com</small>
            <p class="mt-xs mb-xs">Human Resources Manager</p>
            <a href="javascript:;" class="block mt-xs mb-xs">email@contact.com</a>
            <a href="javascript:;" class="block mt-xs mb-xs">www.example.com</a>
            <button mat-raised-button color="primary">Edit Profile</button>
          </div>
          <div fxFlex="45">
            <figure>
              <div class="text-xs-center">
                <img src="assets/images/avatar.jpg" alt="" class="radius-circle">
                <div class="text-md mt10">Account Usage</div>
              </div>
              <div class="ma-xs">
              </div>
              <div  class="text-xs-center"><small>234Gb of 879Gb</small></div>
            </figure>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <div fxLayout="row" class="text-xs-center">
          <div fxFlex="33">
            <h1 class="ma-0"><b>23,8K</b></h1>
            <small>Followers</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>569</b></h1>
            <small>Following</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>67</b></h1>
            <small>Posts</small>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <h4 class="mt-0">About</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlexOffset.gt-sm="1"
       fxFlex.gt-sm="24"
       fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="55">
            <h1 class="ma-0"><b>AH-Mitglied</b> des Monats</h1>
            <small>gerald@morris.com</small>
            <p class="mt-xs mb-xs">Human Resources Manager</p>
            <a href="javascript:;" class="block mt-xs mb-xs">email@contact.com</a>
            <a href="javascript:;" class="block mt-xs mb-xs">www.example.com</a>
            <button mat-raised-button color="primary">Edit Profile</button>
          </div>
          <div fxFlex="45">
            <figure>
              <div class="text-xs-center">
                <img src="assets/images/avatar.jpg" alt="" class="radius-circle">
                <div class="text-md mt10">Account Usage</div>
              </div>
              <div class="ma-xs">

              </div>
              <div  class="text-xs-center"><small>234Gb of 879Gb</small></div>
            </figure>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <div fxLayout="row" class="text-xs-center">
          <div fxFlex="33">
            <h1 class="ma-0"><b>23,8K</b></h1>
            <small>Followers</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>569</b></h1>
            <small>Following</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>67</b></h1>
            <small>Posts</small>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <h4 class="mt-0">About</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlexOffset.gt-sm="1"
       fxFlex.gt-sm="24"
       fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="55">
            <h1 class="ma-0"><b>Ehrenmitglied</b> des Monats</h1>
            <small>gerald@morris.com</small>
            <p class="mt-xs mb-xs">Human Resources Manager</p>
            <a href="javascript:;" class="block mt-xs mb-xs">email@contact.com</a>
            <a href="javascript:;" class="block mt-xs mb-xs">www.example.com</a>
            <button mat-raised-button color="primary">Edit Profile</button>
          </div>
          <div fxFlex="45">
            <figure>
              <div class="text-xs-center">
                <img src="assets/images/avatar.jpg" alt="" class="radius-circle">
                <div class="text-md mt10">Account Usage</div>
              </div>
              <div class="ma-xs">

              </div>
              <div  class="text-xs-center"><small>234Gb of 879Gb</small></div>
            </figure>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <div fxLayout="row" class="text-xs-center">
          <div fxFlex="33">
            <h1 class="ma-0"><b>23,8K</b></h1>
            <small>Followers</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>569</b></h1>
            <small>Following</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>67</b></h1>
            <small>Posts</small>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <h4 class="mt-0">About</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
