<form novalidate
      (ngSubmit)="saveClub()"
      [formGroup]="form">
  <div fxLayout="row"
       fxLayoutWrap="wrap">

    <div fxFlex.gt-sm="100"
         fxFlex.gt-xs="100"
         fxFlex="100">
      <div class="mat-card-top"
           *ngIf="club; else loadingTemplate">
        <mat-card>
          <mat-card-title>
            <mat-icon>mode_edit</mat-icon>
            {{ club.id ? ('general.menu.club.edit' | translate) : 'general.menu.club.create' | translate }}
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>

          <mat-card-content>

            <mat-tab-group [dynamicHeight]="true">
              <mat-tab label="{{'general.clubs.edit.mainTitle' | translate}}">

                <div fxLayout="row"
                     fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="80"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <!-- main-data -->
                    <div fxLayout="row"
                         fxLayoutWrap="wrap">

                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <input matInput
                                 placeholder="{{'general.clubs.edit.title' | translate}}"
                                 formControlName="title" />
                        </mat-form-field>
                      </div>

                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <mat-select placeholder="{{'general.clubs.edit.location' | translate}}"
                                      formControlName="assignedLocation">
                            <mat-option *ngFor="let location of locations$ | async | orderBy: ['title']"
                                        [value]="location.id">{{location.title}}
                            </mat-option>
                          </mat-select>
                          <mat-hint align="end" *ngIf="!form.controls['assignedLocation']">
                            {{'general.clubs.edit.chooseLocation' | translate}}
                          </mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- infos -->
                    <div fxLayout="row"
                         fxLayoutWrap="wrap"
                         formGroupName="info">
                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <input matInput
                                 placeholder="{{'general.clubs.edit.foundedIn' | translate}}"
                                 formControlName="founding" />
                        </mat-form-field>
                      </div>

                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <input matInput
                                 placeholder="{{'general.clubs.edit.clubColours' | translate}}"
                                 formControlName="clubColours" />
                        </mat-form-field>
                      </div>

                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <input matInput
                                 placeholder="{{'general.clubs.edit.homepage' | translate}}"
                                 formControlName="website" />
                          <!--<mat-hint align="end" *ngIf="isUrl(form.controls['website'].value)">
                            <a [href[="form.controls['website'].value">
                              {{'general.clubs.edit.visitHomepage' | translate}}
                            </a>
                          </mat-hint>-->
                        </mat-form-field>
                      </div>

                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <mat-select placeholder="{{'general.clubs.edit.contact' | translate}}"
                                      formControlName="assignedContact">
                            <mat-option *ngFor="let member of members$ | async | orderBy: ['lastName', 'firstName']"
                                        [value]="member.id">
                              {{member.lastName}} {{member.firstName}}
                            </mat-option>
                          </mat-select>
                          <mat-hint align="end">{{'general.clubs.edit.contact' | translate}}</mat-hint>
                        </mat-form-field>
                      </div>

                    </div>
                    <!-- fussball.de -->
                    <div fxLayout="row"
                         fxLayoutWrap="wrap"
                         formGroupName="fussballde">
                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <input matInput
                                 placeholder="{{'general.clubs.edit.fussballDeId' | translate}}"
                                 formControlName="clubId" />
                        </mat-form-field>
                      </div>

                      <div fxFlex.gt-sm="25"
                           fxFlex.gt-xs="100"
                           fxFlex="100">
                        <mat-form-field>
                          <input matInput
                                 placeholder="{{'general.clubs.edit.fussballDeUrl' | translate}}"
                                 formControlName="clubUrl" />
                        </mat-form-field>
                      </div>
                    </div>

                  </div>
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <!--<media-uploader [uploaderOptions]="{}"></media-uploader>-->
                  </div>
                </div>


                <div fxLayout="row"
                     fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="100"
                       fxFlex.gt-xs="100"
                       fxFlex="100"
                       style="margin-top: 25px;">
                    <label>{{'general.clubs.edit.description' | translate}}</label>
                    <quill-editor [style]="{height: '150px'}"
                                  formControlName="description">
                    </quill-editor>
                  </div>
                </div>

              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.historyTitle' | translate }}">
                <label>{{'general.clubs.edit.history' | translate}}</label>
                <div fxLayout="row"
                     fxLayoutWrap="wrap">

                  <div fxFlex.gt-sm="60"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <quill-editor [style]="{height: '400px'}"
                                  formControlName="history">
                    </quill-editor>

                    <pre>{{form.value | json}}</pre>
                  </div>

                  <div fxFlex.gt-sm="40"
                       fxFlex.gt-xs="100"
                       fxFlex="100"
                       style="padding: 0 20px;">

                    <button type="button"
                            mat-raised-button
                            color="brand"
                            (click)="addTimeLineEvent('timeLine')"
                            [disabled]="showForm">
                      {{'general.timeLine.addEvent' | translate}}
                    </button>

                    <time-line-form *ngIf="showForm"
                                    [form]="form"
                                    [groupName]="'timeLine'"
                                    [textMinLength]="textMinLength"
                                    [titleMinLength]="titleMinLength"
                                    (cancelAddingEvent)="cancelAddingEvent($event)"
                                    (saveTimeLineEvent)="saveTimeLineEvent($event)"
                                    (showForm)="showForm = false">
                    </time-line-form>

                    <time-line-list *ngIf="!showForm"
                                    [events]="club.timeLine">
                    </time-line-list>

                  </div>
                </div>
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.managementTitle' | translate }}"
                       formGroupName="management">
                <img *ngIf="club.management && club.management.photoUrl"
                     [src]="club.management.photoUrl" />
                <!--<media-uploader
                  [objectId]="club.id"
                  [objectType]="'clubManagement'"
                  [uploaderOptions]="uploaderOptions"
                  (uploadCompleted)="uploadCompleted($event)">
                </media-uploader>
                <br/>-->

                <quill-editor [style]="{height: '400px'}"
                              formControlName="photoDescription">
                </quill-editor>

              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.stadiumTitle' | translate }}">
                Heimspielstätte und Vereinsheim
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.mediaTitle' | translate }}">
                Dateien
              </mat-tab>

              <mat-tab label="{{'general.tables.colTitles.creation' | translate }} & {{'general.tables.colTitles.publication' | translate }}">
                <div fxLayout="row"
                     fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <creation-form [form]="form">
                    </creation-form>
                  </div>
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    Publication
                    <!--<publication-form [item]="club"></publication-form>-->
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.honorariesTitle' | translate}}">
                Ehrenmitglieder
              </mat-tab>

            </mat-tab-group>
          </mat-card-content>

          <mat-card-actions>
            <div class="button-row">
              <!-- [disabled]="!form.valid || isLoading" -->
              <button mat-raised-button
                      color="primary"
                      type="submit">
                {{ club.id ? ('general.clubs.edit.editClub' | translate) : 'general.clubs.edit.saveClub' | translate}}
              </button>
              <a mat-raised-button
                 color="accent"
                 (click)="cancel()">
                {{'general.cancel' | translate}}
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</form>


<ng-template #loadingTemplate>
  Lade ...
</ng-template>

<!--

<positions
  [item]="club"
  [itemType]="'club-management'"
  [positions]="club.management.positions"
  [showMembersFromList]="true"
  [showPositionsFromList]="true"
  (removePosition)="removeManagementPosition($event)">
</positions>
</div>
<div class="col-xl-12">
<time-line
  [item]="club"
  [itemType]="'club-management'"
  [timeLineEvents]="club.management.assignedManagementEvents"
  (removeTimeLineEvent)="removeManagementTimeLineEvent($event)"
></time-line>
</div>
</div>
</div>

{{ 'general.clubs.edit.honorariesTitle' | translate }}
<club-honoraries-list [club]="club"
                  [members]="memberService.members$ | async
                    | filterBy: ['clubData.assignedClub'] : club.id
                    | filterBy: ['clubData.status'] : '2'">
</club-honoraries-list>
-->
