<form novalidate
      (ngSubmit)="saveClub()"
      [formGroup]="form">
  <div fxLayout="row"
       fxLayoutWrap="wrap">

    <div fxFlex.gt-sm="100"
         fxFlex.gt-xs="100"
         fxFlex="100">
      <div class="mat-card-top"
           *ngIf="club; else loadingTemplate">
        <mat-card>
          <mat-card-title>
            <mat-icon>mode_edit</mat-icon>
            {{ club.id ? ('general.menu.club.edit' | translate) : 'general.menu.club.create' | translate }}
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>

          <mat-card-content>

            <mat-tab-group [dynamicHeight]="true">
              <mat-tab label="{{'general.clubs.edit.mainTitle' | translate}}">
                <club-edit-main [locations]="locations$ | async"
                                [members]="members$ | async"
                                [form]="form"></club-edit-main>
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.historyTitle' | translate }}">
                <club-history (add)="addTimeLineEvent($event)"
                              (cancel)="removeTimeLineEvent($event)"
                              (save)="saveTimeLineEvent($event)"
                              [selectedTimeLineEvent]="selectedClubTimeLineEvent"
                              [events]="club.timeLine"
                              [form]="form">
                </club-history>
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.managementTitle' | translate }}">
                <club-management (add)="addClubManagementPosition($event)"
                                 (cancel)="removeClubManagementPosition($event)"
                                 (save)="saveClubManagementPosition($event)"
                                 [selectedClubManagementPosition]="selectedClubManagementPosition"
                                 [members]="members$ | async"
                                 [form]="form">
                </club-management>
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.stadiumTitle' | translate }}">
                Heimspielstätte und Vereinsheim
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.mediaTitle' | translate }}">
                Dateien
              </mat-tab>

              <mat-tab
                label="{{'general.tables.colTitles.creation' | translate }} & {{'general.tables.colTitles.publication' | translate }}">
                <div fxLayout="row"
                     fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <creation-form [form]="form">
                    </creation-form>
                  </div>
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    Publication
                    <!--<publication-form [item]="club"></publication-form>-->
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="{{ 'general.clubs.edit.honorariesTitle' | translate}}">
                <club-honoraries [form]="form"></club-honoraries>
              </mat-tab>

              <mat-tab label="test">
                <pre>{{club | json}}</pre>
              </mat-tab>

            </mat-tab-group>
          </mat-card-content>

          <mat-card-actions>
            <div class="button-row">
              <button mat-raised-button
                      color="primary"
                      [disabled]="!form.valid"
                      type="submit">
                {{ club.id ? ('general.clubs.edit.editClub' | translate) : 'general.clubs.edit.saveClub' | translate}}
              </button>
              <a mat-raised-button
                 color="accent"
                 (click)="cancel()">
                {{'general.cancel' | translate}}
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</form>


<ng-template #loadingTemplate>
  Lade ...
</ng-template>
