<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="40"
       fxFlex.gt-xs="100">

    <div fxLayout="row"
         fxLayoutWrap="wrap">

      <div fxFlex="100">
        <h3>{{'general.clubs.edit.management.current.title' | translate}}</h3>
        <img [src]="club.management.photoUrl" *ngIf="club.management.photoUrl; else noPhotoTemplate"/>
        <div [innerHTML]="club.management.photoDescription"></div>
      </div>
    </div>
  </div>

  <div fxFlexOffset="3"
       fxFlex.gt-sm="57"
       fxFlex.gt-xs="100">
    <h3>{{'general.clubs.edit.management.positions.title' | translate}}</h3>

    <mat-accordion class="example-headers-align"
                   [displayMode]="'flat'" *ngIf="positions && members; else loadingTemplate">
      <mat-expansion-panel
        *ngFor="let category of positions | orderBy: ['title']; let i = index; let first = first; let last = last"
        [expanded]="step === i"
        (opened)="setStep(i)"
        hideToggle="false">

        <mat-expansion-panel-header [collapsedHeight]="'24px'" [expandedHeight]="'24px'">
          <mat-panel-title>
            {{category.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-tab-group class="mat-tab-group"
                       *ngIf="step === i"
                       [dynamicHeight]="true">
          <mat-tab label="{{'general.clubs.edit.management.positions.todoTitle' | translate}}">
            <div [innerHtml]="category.description | sanitizeHtml"></div>
          </mat-tab>
          <mat-tab label="{{'general.clubs.edit.management.positions.timeLineTitle' | translate}}">
            <p *ngIf="( club.management.positions | filterBy: ['assignedPosition'] : category.id).length === 0">
              {{'general.clubs.edit.management.positions.noPersons' | translate}}
            </p>
            <mat-list>
              <mat-list-item *ngFor="let position of club.management.positions | filterBy: ['assignedPosition'] : category.id | orderBy: 'startDate'">
                <span style="display: block; width: 50%">
                  {{position.startDate | date: 'dd.MM.yy' }}
                  <span *ngIf="position.endDate">&ndash; {{position.endDate | date: 'dd.MM.yy' }}</span>
                </span>
                <a [routerLink]="['/members/edit', position.assignedMember]">
                  {{ (members | filterBy: ['id'] : position.assignedMember)[0].mainData.lastName}}
                  {{ (members | filterBy: ['id'] : position.assignedMember)[0].mainData.firstName}}
                  {{ (members | filterBy: ['id'] : position.assignedMember)[0].mainData.birthday | date: 'dd.MM.yy'}}
                </a>
              </mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<ng-template #noPhotoTemplate>
  <p>{{'general.clubs.edit.noManagementPhoto' | translate}}</p>
</ng-template>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
