<div fxLayout="row" fxLayoutWrap="wrap" [formGroup]="form">

  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" formArrayName="timeLine">
    <div class="mat-card-top" *ngFor="let control of form.get(groupName).controls; let i = index">
      <mat-card>
        <mat-card-content [formGroupName]="i">
          <div fxLayout="row" fxLayoutWrap="wrap">

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.title' | translate}}" formControlName="title"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.subTitle' | translate}}" formControlName="subTitle"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.startDate' | translate}}"
                       formControlName="startDate"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.endDate' | translate}}" formControlName="endDate"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.icon' | translate}}" formControlName="icon"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="{{ 'general.timeLine.assignedArticle' | translate}}"
                            formControlName="assignedArticle">
                  <!--<mat-option *ngFor="let article of articles$ | async | orderBy: ['title']"
                              [value]="article.id">{{article.title}}
                  </mat-option>-->
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="{{ 'general.timeLine.color' | translate}}"
                            formControlName="color">
                  <mat-option *ngFor="let color of colors" [value]="color">{{color | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="margin-top: 25px;">
              <label>{{ 'general.timeLine.text' | translate}}</label>
              <quill-editor
                [style]="{height: '150px'}"
                formControlName="text">
              </quill-editor>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-row">
            <!--<button mat-raised-button color="primary" type="button" (click)="saveTimeLineEvent()">
              {{ club.id ? ('general.clubs.edit.editClub' | translate) : 'general.clubs.edit.saveClub' | translate}}
            </button>-->
            <a mat-raised-button color="accent" (click)="cancel()">
              {{'general.cancel' | translate}}
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

