<div fxLayout="row" fxLayoutWrap="wrap" [formGroup]="form">

  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" formArrayName="timeLine">
    <!--<div class="mat-card-top" *ngFor="let control of form.get(groupName).controls; let i = index; let last = last">

      <mat-card [formGroupName]="i" *ngIf="last">
        <mat-card-content>
          <div fxLayout="row" fxLayoutWrap="wrap">

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput
                       placeholder="{{ 'general.timeLine.title' | translate}}"
                       formControlName="title"
                       [minlength]="titleMinLength"
                />
                <mat-hint align="end" *ngIf="!form.get(groupName).controls[i]['controls'].title.valid ">
                  {{titleMinLength}} characters required
                </mat-hint>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.subTitle' | translate}}" formControlName="subTitle"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.startDate' | translate}}"
                       formControlName="startDate"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.endDate' | translate}}" formControlName="endDate"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="{{ 'general.timeLine.icon' | translate}}" formControlName="icon"/>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="{{ 'general.timeLine.assignedArticle' | translate}}"
                            formControlName="assignedArticle">
                  <!--<mat-option *ngFor="let article of articles$ | async | orderBy: ['title']"
                              [value]="article.id">{{article.title}}
                  </mat-option>--
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="{{ 'general.timeLine.color' | translate}}"
                            formControlName="color">
                  <mat-option *ngFor="let color of colors" [value]="color">{{color | translate}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" style="margin-top: 25px;">
              <label>{{ 'general.timeLine.text' | translate}}</label>
              <quill-editor
                [style]="{height: '150px'}"
                formControlName="text">
              </quill-editor>
              <mat-hint align="end">{{textMinLength}} characters required</mat-hint>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-row">
            <button mat-raised-button
                    [disabled]="!form.get(groupName).controls[i]['controls'].title.valid  || !form.get(groupName).controls[i]['controls'].text.valid"
                    color="primary"
                    type="button"
                    (click)="saveTimeLineEvent.emit(true)">
              {{ 'general.timeLine.saveEvent' | translate}}
            </button>
            <a mat-raised-button
               color="accent"
               (click)="cancelAddingEvent.emit({ formControl: groupName, index: i })">
              {{'general.cancel' | translate}}
            </a>
          </div>
        </mat-card-actions>
      </mat-card>

    </div>-->
  </div>
</div>

