<h3><p>{{'general.members.edit.opinions.title' | translate}}</h3>
<p>{{'general.members.edit.opinions.text' | translate}}</p>

<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <div fxFlex="100"
       *ngIf="members$ | async as members; else loadingTemplate"
       formArrayName="opinions">

    <button mat-raised-button
            style="margin-bottom: 25px"
            type="button"
            color="primary"
            (click)="add.emit(true)">
      {{'general.members.edit.opinions.addEntry' | translate}}
    </button>

    <div fxLayout="row"
         fxLayoutWrap="wrap"
         *ngFor="let control of form.get('opinions')['controls']; let i = index">

      <div fxFlex="100"
           [formGroupName]="i">

        <div fxLayout="row"
             fxLayoutWrap="wrap">

          <mat-form-field fxflex.gt-sm="10"
                          fxFlex="100">
            <mat-select placeholder="{{'general.members.edit.interviews.articleTitle' | translate}}"
                        formControlName="assignedArticleId">
              <mat-option
                *ngFor="let member of members | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
                [value]="member.id">
                {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date:
                'dd.MM.yy'}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlexOffset.gt-sm="3"
               fxflex.gt-sm="82"
              fxFlex="100">
          </div>

          <button fxflex.gt-sm="5"
                  mat-icon-button
                  (click)="delete.emit(i)"
                  color="warn">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </div>

    </div>

  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
