<td class="text-left">
  <a [routerLink]="['edit', club.id]" title="{{club.title}}">
    {{club.title}}
  </a>
</td>
<td><!--{{ (teams | filterBy: ['assignedClub']: club.id).length }}-->ToDo</td>
<td>
  <detail-link [cssClass]="'btn btn-circle btn-icon-only btn-info btn-raised'" [showIcon]="true"
               [showText]="false" type="clubs" [object]="club"></detail-link>
  <edit-link [cssClass]="'btn btn-circle btn-icon-only btn-warning btn-raised'" [showIcon]="true"
             [showText]="false" type="clubs" [object]="club"></edit-link>
  <remove-link [cssClass]="'btn btn-circle btn-icon-only btn-danger btn-raised'" [showIcon]="true"
               [showText]="false" type="clubs" [object]="club"></remove-link>
  <media-link [cssClass]="'btn btn-circle btn-icon-only btn-success btn-raised'" [showIcon]="true"
              [showText]="false" type="clubs" [object]="club"></media-link>
  <button class="btn btn-circle btn-icon-only btn-raised" title="{{'general.clubs.edit.locationTitle' | translate}}"
          [routerLink]="['./stadium', club.id]">
    <i class="fa fa-home"></i>
  </button>
</td>
