<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <mat-form-field fxFlex.gt-xs="33"
                  fxFlex="100">
    <mat-select placeholder="{{ 'general.pagination.itemsPerPage' | translate}}" formControlName="limit">
      <mat-option [value]="users.length" *ngIf="users">
        {{ 'general.pagination.allItems' | translate}}
      </mat-option>
      <mat-option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}
        {{ 'general.items' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlexOffset="1"
                  fxFlex.gt-xs="33"
                  fxFlex="100">
    <input matInput
           placeholder="{{ 'general.typeToFilter' | translate}}"
           formControlName="searchFor"/>
  </mat-form-field>

</div>

<div fxLayout="row"
     [formGroup]="form">

  <div fxFlex="100">
    <ngx-datatable #myTable
                   *ngIf="users; else loadingTemplate"
                   class='material'
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [limit]="form.controls['limit'].value"
                   [rows]="users | filterBy: ['firstName', 'lastName', 'email'] : form.controls['searchFor'].value">

      <ngx-datatable-column name="{{'general.users.edit.personal.lastName' | translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.lastName ? row.lastName : row.displayName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'general.users.edit.personal.firstName' | translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.firstName}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'general.users.edit.personal.email' | translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <a [href]="'mailto:' + row.email">{{row.email}}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'general.users.list.roleTitle' | translate}}">
        <ng-template let-row="row" let-value="assignedRoles" ngx-datatable-cell-template>
          {{row.assignedRoles.admin ? ('general.users.list.adminTitle' | translate)
          : row.assignedRoles.editor ? ('general.users.list.editorTitle' | translate)
          : ('general.users.list.guestTitle' | translate) }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{'general.tables.colTitles.actions' | translate}}
        </ng-template>
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <edit-link [objectId]="row.id"></edit-link>
          <button *ngIf="row.id !== authService.id"
                  title="Disable User"
                  mat-icon-button
                  [color]="row.isDisabled ? 'warn' : 'primary'"
                  (click)="toggleUserStatus(row)">
            <mat-icon>perm_identity</mat-icon>
          </button>
          <button mat-icon-button
                  color="warn"
                  (click)="remove.emit(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div style="padding: 5px 10px">
            <div class="">{{ 'general.items' | translate}}: {{rowCount}} |
              Size: {{pageSize}} |
              Current: {{curPage}} |
              Offset: {{offset}}
            </div>
          </div>

          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!((rowCount / pageSize) > 1)"
            (change)="myTable.onFooterPage($event)">
          </datatable-pager>

        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
