<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">


  <mat-form-field fxFlex.gt-xs="33"
                  fxFlex="100">
    <mat-select placeholder="{{ 'general.pagination.itemsPerPage' | translate}}" formControlName="limit">
      <mat-option [value]="users.length" *ngIf="users">
        {{ 'general.pagination.allItems' | translate}}
      </mat-option>
      <mat-option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}
        {{ 'general.items' | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlexOffset="1"
                  fxFlex.gt-xs="33"
                  fxFlex="100">
    <input matInput
           placeholder="{{ 'general.typeToFilter' | translate}}"
           formControlName="searchFor"/>
  </mat-form-field>

  <div fxFlex="100">
    <ngx-datatable
      *ngIf="users; else loadingTemplate"
      class='material'
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [rows]="users | filterBy: ['firstName', 'lastName', 'email'] : searchFor">
      <ngx-datatable-column name="{{'general.users.list.colTitles.lastName' | translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.lastName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{'general.users.list.colTitles.firstName' | translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.firstName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{'general.users.list.colTitles.email' | translate}}">
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          {{row.email}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="actions">
        <ng-template let-column="column" ngx-datatable-header-template>
          Actions
        </ng-template>
        <ng-template let-row="row" let-value="id" ngx-datatable-cell-template>
          <edit-link [objectId]="row.id"></edit-link>
          <button *ngIf="row.id !== authService.id"
                  title="Disable User"
                  mat-icon-button
                  [color]="row.isDisabled ? 'warn' : 'primary'"
                  (click)="toggleUserStatus(row)">
            <mat-icon>perm_identity</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="remove.emit(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div style="padding: 5px 10px">
            <div class="">Rows: {{rowCount}} | Size: {{pageSize}} | Current: {{curPage}} | Offset: {{offset}}</div>
          </div>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
