<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="25"
       fxFlex.gt-xs="100"
       fxFlex="100">
    <h3>{{'general.applications.static.currentStaticPages' | translate}}</h3>
    <p *ngIf="!application.staticPages || application.staticPages.length === 0">
      {{'general.applications.static.noStaticPagesFound' | translate}}
    </p>

    <mat-list>
      <mat-list-item *ngFor="let staticPage of application.staticPages; let i = index">
        <a (click)="setSelectedStaticPage.emit(i)">{{staticPage.title}}</a>
      </mat-list-item>
    </mat-list>

    <button mat-raised-button
            *ngIf="!selectedStaticPage"
            type="button"
            color="primary"
            (click)="addStaticPage.emit(true)">
      {{ 'general.applications.static.addStaticPage' | translate}}
    </button>
  </div>

  <div fxFlex.gt-sm="75"
       fxFlex.gt-xs="100"
       fxFlex="100">
    <!-- *ngIf="selectedStaticPage" -->
    <static-page
                 [form]="form"
                 (removeStaticPage)="removeStaticPage.emit($event)">
    </static-page>
  </div>
</div>
