<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="20"
       fxFlex.gt-xs="100"
       fxFlex="100">
    <h3>{{'general.applications.static.currentStaticPages' | translate}}</h3>
    <p *ngIf="!application.staticPages || application.staticPages.length === 0">
      {{'general.applications.static.noStaticPagesFound' | translate}}
    </p>

    <mat-list>
      <mat-list-item *ngFor="let staticPage of application.staticPages | orderBy: ['title']; let i = index">
        <a (click)="setSelectedStaticPage.emit(i)" mat-line>{{staticPage.title}}</a>

        <button mat-icon-button (click)="removeStaticPage.emit(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <button mat-raised-button
            type="button"
            color="primary"
            (click)="addStaticPage.emit(true)">
      {{ 'general.applications.static.addStaticPage' | translate}}
    </button>
  </div>

  <div fxFlexOffset="2"
       fxFlex.gt-sm="78"
       fxFlex.gt-xs="100"
       fxFlex="100">
    <static-page [form]="form"
                 *ngIf="selectedStaticPage !== -1"
                 [selectedStaticPage]="selectedStaticPage"
                 (setSelectedStaticPage)="setSelectedStaticPage.emit($event)"
                 [categories]="categories$ | async"
                 (removeStaticPage)="removeStaticPage.emit($event)">
    </static-page>
  </div>
</div>
