<div [formGroup]="form">
  <div fxLayout="row" fxLayoutWrap="wrap" class="form-container" formGroupName="creation">

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container">
        <mat-form-field>
          <input matInput
                 placeholder="{{'general.creation.creationDate' | translate}}"
                 formControlName="at">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
      <div class="example-container">
        <mat-select placeholder="{{'general.creation.author' | translate}}"
                    formControlName="from">
          <mat-option value="system">{{'general.creation.viaScript' | translate}}</mat-option>
          <mat-option *ngFor="let user of users| orderBy: ['firstName', 'lastName', 'email']"
                      [value]="user.id">
            {{user.firstName && user.lastName ? user.firstName + ' ' + user.lastName : user.email}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>
