<h3>Statistiken</h3>

<ul>
  <li>Fehlende Geburtstage & Geburtstagsliste</li>
  <li>fehlende Email</li>
  <li>Verein:
    <ul>
      <li>kein Mitglied 0</li>
      <li>Mitglied 1</li>
      <li>Ehrenmitglied 2</li>
      <li>Mitglied Kind 3</li>
      <li>Mitglied Jugend 4</li>
      <li>Mitglied Familie 5</li>
      <li>Mitglied Turnen 6</li>
    </ul>
  </li>
  <li>Alte Herren
    <ul>
      <li>kein Mitglied 0</li>
      <li>Mitglied 1</li>
      <li>Ehrenmitglied 2</li>
    </ul>
  </li>
</ul>
