<div fxLayout="row"
     fxFlex="100">

  <div fxFlex.gt-xs="25"
       fxFlex="100"
       class="mat-card-top">

    <mat-card>
      <mat-card-title>
        <mat-icon>cake</mat-icon>
        {{'general.members.statistics.noBirthdayTitle' | translate}}
      </mat-card-title>

      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let member of members$ | async | isEmpty: 'mainData.birthday' | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']">
            <a [routerLink]="['/members/edit', member.id]">{{member.mainData.lastName}} {{member.mainData.firstName}}</a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlexOffset="1"
       fxFlex.gt-xs="24"
       fxFlex="100">
    <mat-card>
      <mat-card-title>
        <mat-icon>email</mat-icon>
        {{'general.members.statistics.noEmailTitle' | translate}}
      </mat-card-title>

      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let member of members$ | async | isEmpty: 'contact.email' | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']">
            <a [routerLink]="['/members/edit', member.id]">{{member.mainData.lastName}} {{member.mainData.firstName}}</a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlexOffset="1"
       fxFlex.gt-xs="49"
       fxFlex="100">

    <div fxLayout="row"
         fxLayoutWrap="wrap">

      <div fxFlex="100"
           class="mat-card-top">
        <mat-card>
          <mat-card-title>
            <mat-icon>show_chart</mat-icon>
            {{'general.members.statistics.clubTitle' | translate}}
          </mat-card-title>

          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <span>noMember</span>

              </mat-list-item>
              <mat-list-item>
                <span>Member</span>

              </mat-list-item>
              <mat-list-item>
                <span>honorary</span>

              </mat-list-item>
              <mat-list-item>
                <span>child</span>

              </mat-list-item>
              <mat-list-item>
                <span>teenager</span>

              </mat-list-item>
              <mat-list-item>
                <span>family</span>

              </mat-list-item>
              <mat-list-item>
                <span>gymnastics</span>

              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="100"
           class="mat-card-top">
        <mat-card>
          <mat-card-title>
            <mat-icon>show_chart</mat-icon>
            {{'general.members.statistics.ahTitle' | translate}}
          </mat-card-title>
          <mat-list>
            <mat-list-item>
              <span>noMember</span>

            </mat-list-item>
            <mat-list-item>
              <span>Member</span>

            </mat-list-item>
            <mat-list-item>
              <span>honorary</span>

            </mat-list-item>
          </mat-list>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>
