<div [formGroup]="form"
     [fxLayout]="'column'"
     [fxLayoutAlign]="'space-between stretch'">

  <div class="row">
    <mat-form-field fxFlex.gt-sm="49"
                    fxFlex="100">
      <mat-select placeholder="{{'general.articles.edit.assignedMatch' | translate}}"
                  formControlName="assignedMatch">
        <mat-option *ngFor="let match of matches | orderBy: ['-startDate','title']"
                    [value]="match.id">
          {{match.startDate | date: 'dd.MM.yy HH:mm'}} {{match.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<ul>
  <li>Ergebnis</li>
  <li>Besondere Vorkomnisse</li>
  <li>Aufstellung setzen (Drag & Drop)</li>
  <li>Kapitän setzen</li>
  <li>Vorkomnisse eingeben:
    <ul>
      <li>Torchancen (von Spieler, Minute, Text)</li>
      <li>Auswechselungen (Minute, Spieler A, Spieler B)</li>
      <li>Tore (Minute, Torschütze, Vorlage, Text)</li>
      <li>Gelbe und rote Karten (Spieler, MMinute, Text)</li>
    </ul>
  </li>
</ul>
