<div fxLayout="row"
     fxLayoutWrap="wrap"
     *ngIf="team && members && categories; else loadingTemplate">

  <div fxFlex.gt-sm="49"
       fxFlex="100">
    <h3>{{'general.teams.edit.position.players' | translate}}</h3>
    <p *ngIf="!team.assignedPlayers">{{'general.teams.edit.players.noPlayers' | translate}}</p>

    <mat-list dense>
      <mat-list-item *ngFor="let memberId of team.assignedPlayers">
        <a [routerLink]="['/members/detail', memberId]"
           *ngFor="let member of members | filterBy: ['id'] : memberId">
          {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date: 'dd.MM.yy'}}
        </a>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlexOffset.gt-sm="2"
       fxFlex.gt-sm="49"
       fxFlex="100">
    <h3>{{'general.teams.edit.management.title' | translate}}</h3>
    <p *ngIf="!team.assignedPositions">{{'general.teams.edit.position.noPosition' | translate}}</p>

    <div *ngFor="let position of team.assignedPositions | orderBy: 'position.type'"
         fxLayout="row"
         fxLayoutWrap="wrap">
      <h4 fxFlex="100">{{ (categories | filterBy: ['id'] : position.type)[0].title}}:</h4>

      <mat-list dense
                fxFlex="100">
        <mat-list-item>
          <a *ngFor="let member of members | filterBy: ['id'] : position.assignedMember"
             [routerLink]="['/members/detail', member.id]">
            {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date: 'dd.MM.yy'}}
            ({{position.position}})
          </a>
        </mat-list-item>
      </mat-list>
    </div>

  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
