<!--<div class="m-portlet" *ngFor="let club of clubs | filterBy: ['isMainClub'] : true">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">{{club.title}}</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <img class="img-fluid mx-auto d-block" [src]="club.logoUrl" title="{{club.title}}"/>
    <table class="table table-hover table-responsive table-bordered table-striped">
      <tr>
        <td>{{ 'general.clubs.edit.contact' | translate }}</td>
        <td>{{club.info.contact}}</td>
      </tr>
      <tr>
        <td>{{ 'general.clubs.edit.foundedIn' | translate }}</td>
        <td>{{club.info.founding}}</td>
      </tr>
      <tr>
        <td>{{ 'general.clubs.edit.clubColours' | translate }}</td>
        <td>{{club.info.clubColours}}</td>
      </tr>
    </table>
  </div>
</div>-->
MainClub
