<div class="row" *ngIf="club; else loadingTemplate">

  <div class="col-xl-12">

    <table class="table table-striped table-bordered table-hover table-responsive"
           *ngIf="club.honoraries.length > 0; else noHonorariesTemplate">
      <thead>
      <tr>
        <th>{{ 'general.clubs.edit.honoraries.colTitles.memberName' | translate}}</th>
        <th>{{ 'general.clubs.edit.honoraries.colTitles.since' | translate}}</th>
        <!--<th *ngIf="showActionLinks">{{ 'general.tables.colTitles.actions' | translate}}</th>-->
      </tr>
      </thead>
      <tr *ngFor="let honorary of club.honoraries">
        <td class="text-left">
          <a [routerLink]="['/members/detail', honorary]">
            {{ (members | filterBy: ['id'] : honorary)[0].mainData.lastName}}
            {{(members | filterBy: ['id'] : honorary)[0].mainData.firstName}}
            {{ moment((members | filterBy: ['id'] : honorary)[0].mainData.birthday).format('L') }}
          </a>
        </td>
        <!--<td>
          <span *ngIf="(clubHonoraryService.clubHonoraries$ | async
                        | filterBy: ['assignedClub'] : club.id
                        | filterBy: ['assignedMember'] : member.id)?.length > 0">

            {{(clubHonoraryService.clubHonoraries$ | async
          | filterBy: ['assignedClub'] : club.id
          | filterBy: ['assignedMember'] : member.id)[0].since | date: 'dd.MM.y'}}
          </span>
        </td>

        <td *ngIf="showActionLinks">
          <!--<button *ngIf="(clubHonoraryService.clubHonoraries$ | async
          | filterBy: ['assignedClub'] : club.id
          | filterBy: ['assignedMember'] : member.id)?.length === 1" class="btn btn-danger"
                  (click)="setMember(member); deleteHonorary()"
                  title="{{ 'general.clubs.edit.honoraries.deleteHonoraryHonorary' | translate}}">
            <i class="fa fa-remove"></i>
          </button>
        </td>-->
      </tr>
    </table>

    <!--
    <p>{{'general.clubs.edit.honoraries.membersWithHonoraryStatus' | translate}}</p>
    <br/>

    <!--<div class="text-right" *ngIf="showActionLinks">
      <button class="btn btn-warning" (click)="toggleForm()" *ngIf="!showForm"
              title="{{ 'general.clubs.edit.honoraries.createHonorary' | translate}}">
        <i class="fa fa-plus"></i> {{ 'general.clubs.edit.honoraries.createHonorary' | translate}}
      </button>
    </div>
    </div>

    </div>-->

  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading-indicator></app-loading-indicator>
</ng-template>

<ng-template #noHonorariesTemplate>
  <div class="alert alert-info">
    <strong>{{ 'general.info' | translate}}</strong> {{ 'general.clubs.edit.honoraries.noHonoraries' | translate}}
  </div>
</ng-template>
