<div fxLayout="row"
     fxLayoutWrap="wrap" style="margin-top: 25px;" [formGroup]="form">

  <div fxFlex="20"
       style="margin-bottom: 25px;"
       formGroupName="options"
       *ngFor="let option of uploaderConfig | keys">
    <mat-checkbox [formControlName]="option">{{option}}</mat-checkbox>
  </div>

  <div fxFlex.gt-sm="100"
       fxFlex.gt-xs="100"
       fxFlex="100">
    <media-upload-form
      (uploadCompleted)="uploadCompleted.emit($event)"
      (removedMedia)="removedMedia.emit($event)"
      [form]="form"
      [uploaderOptions]=uploaderOptions
      [uploaderConfig]="uploaderConfig">
    </media-upload-form>

  </div>
</div>

