<div fxLayout="row"
     fxLayoutWrap="wrap"
     [formGroup]="form">

  <!--<div fxFlex="20"
       style="margin-bottom: 25px;"
       *ngIf="showOptions"
       [formGroup]="optionsForm">
    <mat-checkbox *ngFor="let option of uploaderConfig | keys"
                  [formControlName]="option">
      {{option}}
    </mat-checkbox>
  </div>-->

  <div fxFlex.gt-sm="100"
       fxFlex.gt-xs="100"
       fxFlex="100">
    <media-upload-form
      (uploadCompleted)="uploadCompleted.emit($event)"
      (removedMedia)="removedMedia.emit($event)"
      [form]="form"
      [uploaderOptions]=uploaderOptions
      [uploaderConfig]="uploaderConfig">
    </media-upload-form>
  </div>
</div>

