<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="75"
       fxFlex.gt-xs="100">
    <div class="mat-card-top"
         *ngIf="member; else loadingTemplate">

      <mat-card>
        <mat-card-title>
          <mat-icon>mode_edit</mat-icon>
          {{'general.menu.member.edit' | translate}}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>

        <mat-card-content>

          <mat-tab-group [dynamicHeight]="true">
            <mat-tab label="{{'general.members.tabs.main' | translate}}">
              <member-edit-main [form]="form"
                                [member]="member">
              </member-edit-main>
            </mat-tab>
            <mat-tab label="{{'general.members.tabs.driveAndDFB' | translate}}">
              <member-edit-drive [form]="form"
                                 [member]="member">
              </member-edit-drive>
            </mat-tab>
            <mat-tab label="{{'general.members.tabs.interview' | translate}}">
              <div fxLayout="row"
                   fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="49"
                     fxFlex="100">
                  <member-edit-interviews (add)="addInterview($event)"
                                          (delete)="removeInterview($event)"
                                          [form]="form">
                  </member-edit-interviews>
                </div>
                <div fxFlexOffset.gt-sm="2"
                     fxFlex.gt-sm="49"
                     fxFlex="100">
                  <member-edit-profile (add)="addProfileEntry($event)"
                                       (delete)="removeProfileEntry($event)"
                                       [form]="form">
                  </member-edit-profile>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="{{'general.members.tabs.otherOpinions' | translate}}">
              <member-edit-other-opinions (add)="addOpinion($event)"
                                          (delete)="removeOpinion($event)"
                                          (toggleMemberLookup)="toggleMemberLookup($event)"
                                          [members]="members$ | async"
                                          [form]="form">
              </member-edit-other-opinions>
            </mat-tab>
            <!--<mat-tab label="{{'general.members.tabs.media' | translate}}">
              <p>Mit dem Mitglied verknüpfte Fotos, Videos etc.</p>
            </mat-tab>
            <mat-tab label="{{'general.members.tabs.teams' | translate}}">
              <p>Liste aller Mannschaften, in denen das Mitglied als Spieler tätig war.</p>
            </mat-tab>
            <mat-tab label="{{'general.members.tabs.functions' | translate}}">
              <member-functions [teams]="teams$ | async"
                                [clubs]="clubs$ | async"
                                [showLinks]="true">
              </member-functions>
            </mat-tab>-->
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxFlex.gt-sm="25"
       fxFlex.gt-xs="100">
    <pre *ngIf="member">{{member | json}}</pre>
  </div>
</div>


<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
