<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-title>
        <mat-icon>list</mat-icon>
        {{'general.menu.member.main' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <member-list
          [members]="members$ | async">
        </member-list>
        <!-- [categories]="categories$ | async"
          [categoryTypes]="categoryTypes$ | async | filterBy: ['link'] : 'member.types'" -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
