<div fxLayout="row"
     fxLayoutWrap="wrap">

  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex.gt-sm="35"
               fxFlex="100">
            <h1 class="ma-0"><b>Mannschaft</b> des Monats</h1>
            <small>B-Junioren (SG SF Winterbach)</small>
            <p class="mt-xs mb-xs">Junioren</p>
            <a href="javascript:;" class="block mt-xs mb-xs">24 Spieler</a>
            <a href="javascript:;" class="block mt-xs mb-xs">Kapitän: Christian Klee</a>
            <a href="javascript:;" class="block mt-xs mb-xs">Trainer: Thorsten Kunz, Betreuer: Frank Fuchs</a>
            <button mat-raised-button color="primary">Edit Profile</button>
          </div>
          <div fxFlex.gt-sm="55"
               fxFlex="100">
            <figure>
              <div>
                <img fxFlex="100" src="https://fcbayern.com/binaries/content/gallery/fcbayern.tv/saison-17-18/news/fcbayerntvnews_get_050817.jpg" alt="">
              </div>
              <div  class="text-xs-left"><small>ImageDescription</small></div>
            </figure>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <div fxLayout="row" class="text-xs-center">
          <div fxFlex="33" style="color: green">
            <h1 class="ma-0"><b>23,8K</b></h1>
            <small>Wins</small>
          </div>
          <div fxFlex="33" style="color: red">
            <h1 class="ma-0"><b>569</b></h1>
            <small>Loss</small>
          </div>
          <div fxFlex="33">
            <h1 class="ma-0"><b>67</b></h1>
            <small>Draws</small>
          </div>
        </div>
      </mat-card-content>
      <hr>
      <mat-card-content>
        <h4 class="mt-0">About</h4>
        <p>Infotext</p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
