<div fxLayout="column" fxLayoutWrap="wrap" [formGroup]="form">

  <div fxFlex="100" *ngIf="categories; else loadingTemplate">

    <div fxLayout="row" fxLayoutWrap="wrap">

      <mat-form-field fxFlex.gt-sm="30"
                      fxFlex.gt-xs="100"
                      fxFlex="100">
        <mat-select placeholder="{{'general.teams.edit.position.assignedMember' | translate}}"
                    formControlName="assignedMember">
          <mat-option
            *ngFor="let member of members | orderBy: ['mainData.lastName', 'mainData.firstName', 'mainData.birthday']"
            [value]="member.id">
            {{member.mainData.lastName}} {{member.mainData.firstName}} {{ member.mainData.birthday | date: 'dd.MM.yy'}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="24"
                      fxFlex.gt-xs="100"
                      fxFlex="100">
        <mat-select placeholder="{{'general.teams.edit.position.type' | translate}}"
                    formControlName="type">
          <mat-option
            *ngFor="let category of categories | orderBy: ['title']"
            [value]="category.id">
            {{category.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlexOffset="1"
                      fxFlex.gt-sm="29"
                      fxFlex.gt-xs="100"
                      fxFlex="100">
        <input matInput
               formControlName="position"
               placeholder="{{'general.teams.edit.position.title' | translate}}">
      </mat-form-field>

      <div fxFlexOffset="1"
           fxFlex.gt-sm="14"
           fxFlex.gt-xs="100"
           fxFlex="100">
        <button
          mat-raised-button
          type="button"
          color="warn"
          (click)="removePosition.emit(i)">
          {{ 'general.teams.edit.position.delete' | translate}}
        </button>
      </div>

    </div>

  </div>

  <hr fxFlex="100" style="margin: 25px 0; color: #cecece"/>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
