<form novalidate
      (ngSubmit)="saveLocation()"
      [formGroup]="form">
  <div fxLayout="row"
       fxLayoutWrap="wrap">

    <div fxFlex.gt-sm="100"
         fxFlex.gt-xs="100"
         fxFlex="100">
      <div class="mat-card-top"
           *ngIf="categories$ && categoryTypes$ && location && members$; else loadingTemplate">

        <mat-card>
          <mat-card-title>
            <mat-icon>mode_edit</mat-icon>
            {{ location.id ? ('general.menu.location.edit' | translate) : 'general.menu.location.create' | translate }}
          </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>

          <mat-card-content>

            <mat-tab-group [dynamicHeight]="true">
              <mat-tab label="{{'general.locations.edit.mainTitle' | translate}}">

                <div fxLayout="column">

                  <div>
                    <mat-form-field fxFlex.gt-sm="24"
                                    fxFlex.gt-xs="100"
                                    fxFlex="25">
                      <input matInput
                             placeholder="{{'general.locations.edit.namePlaceholder' | translate}}"
                             formControlName="title"/>
                    </mat-form-field>

                    <mat-form-field fxFlexOffset="1"
                                    fxFlex.gt-sm="24"
                                    fxFlex.gt-xs="100"
                                    fxFlex="25">
                      <mat-select placeholder="{{'general.category' | translate}}"
                                  formControlName="assignedCategory">
                        <mat-option *ngFor="let category of (categories$ | async | orderBy: ['title'])"
                                    [value]="category.id">
                          {{category.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlexOffset="1"
                                    fxFlex.gt-sm="50"
                                    fxFlex.gt-xs="100"
                                    fxFlex="100">
                      <input matInput
                             placeholder="{{'general.locations.edit.priceList' | translate}}"
                             formControlName="prices"/>
                    </mat-form-field>
                  </div>

                  <div>
                    <div fxFlex.gt-sm="24"
                         fxFlex.gt-xs="100"
                         fxFlex="100">
                      <label>{{'general.locations.edit.opening' | translate}}</label><br/>
                      <quill-editor [style]="{height: '150px'}"
                                    formControlName="opening">
                      </quill-editor>
                    </div>


                    <div fxFlexOffset="1"
                         fxFlex.gt-sm="24"
                         fxFlex.gt-xs="100"
                         fxFlex="100">
                      <label>{{'general.description' | translate}}</label><br/>
                      <quill-editor [style]="{height: '150px'}"
                                    formControlName="text">
                      </quill-editor>
                    </div>

                    <div fxFlexOffset="1"
                         fxFlex.gt-sm="24"
                         fxFlex.gt-xs="100"
                         fxFlex="100">
                      <label>{{'general.locations.edit.photoTitle' | translate}}</label><br/>
                      <media-uploader
                        [uploaderOptions]="logoUploaderOptions"
                        [uploaderConfig]="logoUploaderConfig">
                      </media-uploader>
                    </div>

                  </div>
                </div>
              </mat-tab>

              <mat-tab
                label="{{'general.locations.edit.addressTitle' | translate}} {{'general.and' | translate }} {{'general.locations.edit.contactTitle' | translate}}">
                <div fxLayout="row"
                     fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="49"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <location-edit-address
                      [form]="form">
                    </location-edit-address>
                  </div>
                  <div fxFlexOffset="1"
                       fxFlex.gt-sm="50"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <location-edit-contact
                      [members]="members$ | async"
                      (removeLocationContact)="removeLocationContact($event)"
                      [form]="form">
                    </location-edit-contact>

                    <button mat-raised-button
                            type="button"
                            color="primary"
                            (click)="addLocationContact()">
                      {{ 'general.locations.edit.contact.createContact' | translate}}
                    </button>

                  </div>
                </div>
              </mat-tab>

              <mat-tab label="{{ 'general.locations.edit.mediaTitle' | translate }}">
                Dateien
              </mat-tab>

              <mat-tab
                label="{{'general.tables.colTitles.creation' | translate }} & {{'general.tables.colTitles.publication' | translate }}">
                <div fxLayout="row"
                     fxLayoutWrap="wrap">
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    <creation-form [form]="form"></creation-form>
                  </div>
                  <div fxFlex.gt-sm="20"
                       fxFlex.gt-xs="100"
                       fxFlex="100">
                    Publication
                    <!--<publication-form [form]="location"></publication-form>-->
                  </div>
                </div>
              </mat-tab>


            </mat-tab-group>
          </mat-card-content>

          <mat-card-actions>
            <div class="button-row">
              <!-- [disabled]="!form.valid || isLoading" -->
              <button mat-raised-button
                      color="primary"
                      type="submit">
                {{ location.id
                ? ('general.locations.edit.editLocation' | translate)
                : 'general.locations.edit.saveLocation' | translate}}
              </button>
              <a mat-raised-button
                 color="accent"
                 (click)="cancel()">
                {{'general.cancel' | translate}}
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</form>

<ng-template #loadingTemplate>
  Lade ...
</ng-template>

<!--
    <div class="col-xl-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.locations.edit.photoTitle' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <img [src]="location.imageUrl" class="img-fluid img-thumbnail"
               *ngIf="location.imageUrl; else noLogoTemplate"/>

          <!--<media-uploader
            *ngIf="showUploader"
            [objectId]="location.id"
            [objectType]="objectType"
            [uploaderOptions]="uploaderOptions"
            (uploadCompleted)="uploadCompleted($event)">
          </media-uploader>

          <div class="text-center m--margin-top-15">
            <button class="btn btn-primary" (click)="toggleUploader()" *ngIf="!showUploader">
              {{'general.locations.edit.uploadImage' | translate}}
            </button>
        </div>

      </div>
    </div>

<ng-template #noLogoTemplate>
  {{'general.locations.edit.noLogo' | translate}}
</ng-template> -->
