<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">{{'general.menu.location.edit' | translate}}</h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" [routerLink]="['/']"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/locations']">
            <span class="m-nav__link-text">{{'general.menu.location.main' | translate}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/locations/detail', location.id]">
            <span class="m-nav__link-text">{{location.title}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">{{'general.edit' | translate}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="row">
    <div class="col-xl-8">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.menu.location.edit' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1">
                <i class="la la-exclamation-triangle"></i>
                {{'general.locations.edit.mainTitle' | translate}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">
                <i class="fa fa-clock-o"></i>
                {{'general.tables.colTitles.creation' | translate }}
                {{'general.and' | translate }}
                {{'general.tables.colTitles.publication' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#m_tabs_1_3">
                <i class="fa fa-address-card"></i>
                {{'general.locations.edit.addressTitle' | translate}}
                {{'general.and' | translate }}
                {{'general.locations.edit.contactTitle' | translate}}
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
              <location-edit-main
                [form]="form"
                [categoryTypes]="categoryTypeService.getCategoryTypes() | async | filterBy: ['link'] : 'location'"
                [categories]="categoryService.getCategories() | async">
              </location-edit-main>
            </div>
            <div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
              <div class="row">
                <div class="col-xl-6">
                  <creation-form
                    [form]="form"
                    [users]="userService.getUsers() | async"
                  ></creation-form>
                </div>
                <div class="col-xl-6">
                  <publication-form [item]="location"></publication-form>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
              <div class="row">
                <div class="col-xl-6">
                  <location-edit-address [form]="form"></location-edit-address>
                </div>
                <div class="col-xl-6">
                  <location-edit-contact
                    [members]="memberService.getMembers() | async"
                    [location]="location">
                  </location-edit-contact>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__foot text-right">
          <button class="btn btn-success" (click)="saveLocation()">
            {{'general.locations.edit.updateLocation' | translate }}
          </button>
          <button class="btn btn-danger" (click)="cancel()">{{'general.cancel' | translate}}</button>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.locations.edit.photoTitle' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <img [src]="location.imageUrl" class="img-fluid img-thumbnail"
               *ngIf="location.imageUrl; else noLogoTemplate"/>

          <media-uploader
            *ngIf="showUploader"
            [objectId]="location.id"
            [objectType]="objectType"
            [uploaderOptions]="uploaderOptions"
            (uploadCompleted)="uploadCompleted($event)">
          </media-uploader>

          <div class="text-center m--margin-top-15">
            <button class="btn btn-primary" (click)="toggleUploader()" *ngIf="!showUploader">
              {{'general.locations.edit.uploadImage' | translate}}
            </button>
          </div>

        </div>
      </div>

      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.locations.detail.mapTitle' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <location-detail-map [location]="location"></location-detail-map>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #noLogoTemplate>
  <div class="alert alert-warning">
    <strong>{{ 'general.warning' | translate }}</strong> {{'general.locations.edit.noLogo' | translate}}
  </div>
</ng-template>
