<!--<mat-card class="mat-card-top">
  <mat-card-title>
    <mat-icon>link</mat-icon>
    {{'general.categories.edit.assignedObjectsTitle' | translate }}
  </mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="row"
         fxLayoutWrap="wrap" *ngIf="categoryTypes; else loadingTemplate">

        <div *ngFor="let categoryType of categoryTypes | filterBy: ['id']: category.assignedCategoryType">
          <div [ngSwitch]="categoryType.link">

            <div *ngSwitchCase="'club.position.types'">
              <ul>
                <li></li>
              </ul>
            </div>

          </div>
        </div>

    </div>
  </mat-card-content>
</mat-card>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
<!--
<div class="row"
     [formGroup]="form">

  <div class="col-xl-12"
       *ngIf="seasons; else loadingTemplate">

    <div class="form-group"
         [ngSwitch]="(categoryTypes | filterBy: ['id']: form.get('assignedCategoryType').value)[0].link">

      <label>
        {{'general.categories.edit.possibleObjects' | translate }} {{(categoryTypes | filterBy: ['id']:
        form.get('assignedCategoryType').value)[0].title}}
      </label>

      <div *ngSwitchCase="'articles'">
        <select class="form-control"
                multiple
                size="15"
                formControlName="assignedItems">
          <option value=""
                  disabled>
            {{'general.categories.edit.noAssignedObjects' | translate}}
          </option>
          <option [value]="article.id"
                  *ngFor="let article of (articles$ | async | orderBy: ['title', 'articleDate'])">
            {{article.title}} {{moment(article.articleDate).format('L')}}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'teams'">
        <select class="form-control"
                multiple
                size="15"
                formControlName="assignedItems">
          <option value=""
                  disabled>{{'general.categories.edit.noAssignedObjects' | translate}}
          </option>
          <option [value]="team.id"
                  *ngFor="let team of (teams$ | async | orderBy: ['title', 'assignedSeason'])">
            {{team.title}} {{(seasons | filterBy: ['id'] : team.assignedSeason)[0].title}}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'locations'">
        <select class="form-control"
                multiple
                size="15"
                formControlName="assignedItems">
          <option value=""
                  disabled>
            {{'general.categories.edit.noAssignedObjects' | translate}}
          </option>
          <option [value]="location.id"
                  *ngFor="let location of (locations$ | async | orderBy: ['title'])">
            {{location.title}}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'sponsors'">
        <select class="form-control"
                multiple
                size="15"
                formControlName="assignedItems">
          <option value=""
                  disabled>
            {{'general.categories.edit.noAssignedObjects' | translate}}
          </option>
          <option [value]="sponsor.id"
                  *ngFor="let sponsor of (sponsorService.getSponsors() | async | orderBy: ['title'])">
            {{sponsor.title}}
          </option>
        </select>
      </div>

      <div *ngSwitchDefault="">
        {{form.get('assignedCategoryType').value}}
      </div>

    </div>

  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading-indicator></app-loading-indicator>
</ng-template>-->
