<div fxFlex="100">
  <h3>{{ 'general.clubs.edit.honoraries.title' | translate}}
    <small>{{ 'general.clubs.edit.honoraries.subTitle' | translate}}</small>
  </h3>

  <p *ngIf="!club.honoraries">{{ 'general.clubs.edit.honoraries.noHonoraries' | translate}}</p>

  <mat-list>
    <ng-template *ngFor="let honorary of club.honoraries;">
      <mat-list-item *ngIf="articles; else loadingTemplate">
        <!--<img mat-list-avatar src="{{item.photo}}" alt="">-->
        <h3 matLine> {{(articles | filterBy: ['id'] : honorary.assignedArticle)[0].title}} </h3>
        <p matLine> since {{honorary.startDate}} </p>
      </mat-list-item>
    </ng-template>
  </mat-list>

</div>

<ng-template #loadingTemplate>#
  <loading-indicator></loading-indicator>
</ng-template>
