<form class="form-horizontal"
      novalidate
      *ngIf="clubs && seasons && categories && categoryTypes; else loadingTemplate"
      [formGroup]="form">

  <div fxLayout="row"
       fxLayoutWrap="wrap">

    <div fxFlex.gt-sm="50"
         fxFlex="100">

      <div fxLayout="row" fxLayoutWrap="wrap">
        <mat-form-field fxFlex.gt-sm="49"
                        fxFlex="100">
          <input matInput maxlength="{{titleMaxLength}}"
                 placeholder="{{'general.teams.list.colTitles.name' | translate}}"
                 formControlName="title">
          <mat-hint align="end">{{form.get('title').value.length || 0}}/{{titleMaxLength}}</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlexOffset.gt-sm="2"
                        fxFlex.gt-sm="49"
                        fxFlex="100">
          <input matInput maxlength="{{shortTitleMaxLength}}"
                 placeholder="{{'general.teams.edit.subTitle' | translate}}"
                 formControlName="shortTitle">
          <mat-hint align="end">{{form.get('shortTitle').value.length || 0}}/{{shortTitleMaxLength}}</mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutWrap="wrap">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="{{'general.teams.edit.assignedCategories' | translate}}"
                      formControlName="assignedTeamCategories"
                      multiple>
            <mat-option *ngFor="let category of categories | orderBy: ['title']"
                        [value]="category.id">
              {{category.title}}

              <span *ngFor="let categoryType of categoryTypes | filterBy: ['id'] : category.assignedCategoryType">
                ({{ 'general.menu.' + categoryType.link + '.main' | translate}})
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutWrap="wrap">
        <mat-form-field fxFlex.gt-sm="49"
                        fxFlex="100">
          <mat-select placeholder="{{'general.teams.edit.assignedClub' | translate}}"
                      formControlName="assignedClub">
            <mat-option *ngFor="let club of clubs | orderBy: ['title']"
                        [value]="club.id">
              {{club.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlexOffset.gt-sm="2"
                        fxFlex.gt-sm="49"
                        fxFlex="100">
          <mat-select placeholder="{{'general.teams.edit.assignedSeason' | translate}}"
                      formControlName="assignedSeason">
            <mat-option *ngFor="let season of seasons | orderBy: ['title']"
                        [value]="season.id">
              {{season.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row"
           fxLayoutWrap="wrap">
        <mat-form-field fxFlex="100">
          <input matInput
                 placeholder="{{'general.teams.edit.externalLink' | translate}}"
                 formControlName="externalLink">
        </mat-form-field>
      </div>

      <div fxLayout="row"
           fxLayoutWrap="wrap">
        <div fxFlex="100"
             style="margin: 25px 0;">
          <mat-checkbox formControlName="isOfficialTeam" fxFlex="95">
            {{'general.teams.edit.isOfficialTeam' | translate}}
          </mat-checkbox>
        </div>

      </div>
    </div>

    <div fxFlexOffset.gt-sm="5"
         fxFlex.gt-sm="45"
         fxFlex="100">
      <h3>{{'general.teams.edit.photo.title' | translate}}</h3><br/>
      Logo und Wappen ToDo
      <!--<img [src]="team.photoURL" class="md-card-image" *ngIf="team.photoURL"/>

      <p *ngIf="!team.photoURL">{{'general.teams.edit.photo.noPhoto' | translate}}</p>

      <label *ngIf="team.photoURL">{{'general.teams.edit.photo.description' | translate}}</label><br/>
      <quill-editor *ngIf="team.photoURL"
                    [style]="{height: '150px'}"
                    formControlName="photoDescription">
      </quill-editor>

      <h3>{{'general.teams.edit.logo.title' | translate}}</h3>
      <img [src]="team.logoURL" class="md-card-image" *ngIf="team.logoURL"/>
      <p *ngIf="!team.logoURL">{{'general.teams.edit.logo.noLogo' | translate}}</p>-->

    </div>
  </div>
</form>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
