<div fxLayout="column">
  <div fxFlex="100">

    <p *ngIf="matches && matches.length === 0">{{'general.matches.list.noMatches' | translate}}</p>

    <mat-list dense
              *ngIf="matches && categories; else loadingTemplate">

      <mat-list-item *ngFor="let match of matches">
        <img style="border-radius: 0" mat-list-avatar src="{{match.homeTeam.logoURL}}" alt="{{match.homeTeam.title}}">
        <img style="border-radius: 0" mat-list-avatar src="{{match.guestTeam.logoURL}}" alt="{{match.guestTeam.title}}">

        <h3 matLine>{{match.homeTeam.title}} &ndash; {{match.guestTeam.title}}</h3>

        <p matLine>
          <span *ngFor="let category of categories | filterBy: ['id'] : match.assignedTeamCategory">{{category.title}}</span>
          - {{match.matchType}}
          - {{match.startDate | date: 'dd.MM.yy HH:mm'}}
        </p>
      </mat-list-item>
    </mat-list>

  </div>
</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
