<div fxLayout="row"
     fxLayoutWrap="wrap" [formGroup]="form">

  <div fxFlex.gt-sm="34"
       fxFlex.gt-xs="100"
       formGroupName="management">

    <div fxLayout="row"
         fxLayoutWrap="wrap">

      <div fxFlex="100">
        <h3>{{'general.clubs.edit.management.current.title' | translate}}</h3>
        <div style="height: 180px; width: 100%; background-color: #7c7c7c;">
          <ul>
            <li>Foto ( + Upload)</li>
            <lI>Foto-Beschreibung</lI>
          </ul>
        </div>
      </div>

      <div fxFlex="100" style="margin-top: 50px;">
        <label>
          {{'general.clubs.edit.management.current.description' | translate}}
        </label>
        <quill-editor [style]="{height: '350px;'}"
                      formControlName="photoDescription">
        </quill-editor>
      </div>
    </div>
  </div>

  <div fxFlexOffset="3"
       fxFlex.gt-sm="30"
       fxFlex.gt-xs="100">
    <h3>{{'general.clubs.edit.management.positions.title' | translate}}</h3>

    <mat-accordion class="example-headers-align" [displayMode]="'flat'">
      <mat-expansion-panel
        *ngFor="let category of positions | orderBy: ['title']; let i = index; let first = first; let last = last"
        [expanded]="step === i"
        (opened)="setStep(i)"
        hideToggle="false">

        <mat-expansion-panel-header [collapsedHeight]="'24px'" [expandedHeight]="'24px'">
          <mat-panel-title>
            {{category.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>

      <mat-tab-group class="mat-tab-group"
                       *ngIf="step === i"
                       [dynamicHeight]="true">
          <mat-tab label="{{'general.clubs.edit.management.positions.todoTitle' | translate}}">
            <div [innerHtml]="category.description | sanitizeHtml"></div>
            <a mat-raised-button color="warn" [routerLink]="['/categories/edit', category.id]">
              {{'general.clubs.edit.management.positions.editToDos' | translate}}
            </a>
          </mat-tab>
          <mat-tab label="{{'general.clubs.edit.management.positions.timeLineTitle' | translate}}">
            <mat-list>
              <mat-list-item>Volker Morsch 2016 &ndash; heute</mat-list-item>
              <mat-list-item>Dieter Kunz 2008 - 2016</mat-list-item>
            </mat-list>
          </mat-tab>
        </mat-tab-group>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div fxFlexOffset="3"
       fxFlex.gt-sm="30"
       fxFlex.gt-xs="100">
    <h3>{{'general.clubs.edit.management.list.title' | translate}}</h3>

    <button type="button"
            mat-raised-button
            color="primary"
            *ngIf="selectedClubManagementPosition === -1"
            (click)="add.emit(true)">
      {{'general.clubs.edit.management.positions.addMember' | translate}}
    </button>

    <club-management-form *ngIf="selectedClubManagementPosition !== -1"
                          [form]="form"
                          [members]="members"
                          [positions]="positions"
                          [selectedClubManagementPosition]="selectedClubManagementPosition"
                          (cancel)="cancel.emit($event)"
                          (save)="save.emit($event)">
    </club-management-form>
  </div>
</div>

