<div fxLayout="row"
     fxLayoutWrap="wrap">
  <div fxFlex="100" *ngIf="clubs && teams && categories; else loadingTemplate">
    <h2>{{'general.members.detail.functions.title' | translate}}</h2>

    <div fxLayout="row"
         fxLayoutWrap="wrap">

      <div fxFlex.gt-sm="48"
           fxFlex.gt-xs="100">
        <h3>{{'general.members.detail.functions.asPlayer' | translate}}</h3>
        <span style="color: red">ToDo</span>
      </div>

      <div fxFlexOFfset.gt-sm="2"
           fxFlex.gt-sm="48"
           fxFlex.gt-xs="100">
        <h3>{{'general.members.detail.functions.inTeamManagement' | translate}}</h3>
        <span style="color: red">ToDo</span>
      </div>
    </div>

    <div fxLayout="row"
         fxLayoutWrap="wrap" style="margin-top: 40px;">
      <div fxFlexOFfset.gt-sm="2"
           fxFlex.gt-sm="48"
           fxFlex.gt-xs="100">
        <h3>{{'general.members.detail.functions.inClubManagement' | translate}}</h3>
        <mat-list dense>
          <mat-list-item *ngFor="let position of getMemberPositionsInClubs(clubs)">
            <h4 fxFlex="40"
                *ngFor="let category of categories | filterBy: ['id'] :position.assignedPosition">
              {{category.title}}
            </h4>
            <p fxFlex="60">
              <span *ngIf="!position.endDate">{{'general.since' | translate}}</span>
              <span *ngIf="position.endDate">{{'general.from' | translate}}</span>
              {{position.startDate | date: 'dd.MM.yy'}}
              {{position.endDate ? (' bis ' + position.endDate | date: 'dd.MM.yy') : ''}}
            </p>
          </mat-list-item>
        </mat-list>
      </div>

      <div fxFlexOFfset.gt-sm="2"
           fxFlex.gt-sm="48"
           fxFlex.gt-xs="100">
        <h3>{{'general.members.detail.functions.others' | translate}}
          <small>{{'general.members.detail.functions.othersComment' | translate}}</small>
        </h3>
        <p *ngIf="member.clubData && member.clubData.positionsInClub; else noTextTemplate">
          {{member.clubData.positionsInClub}}
        </p>
      </div>

    </div>
  </div>
</div>

<ng-template #noTextTemplate>
  -
</ng-template>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
