<h3>Media Uploader</h3>

<ul>
  <li>Videos, Bilder, Audiodateien und Dokumente hochladen</li>
  <li>Galerien erstellen / editieren und Dateien verschieben</li>
  <li>Dateien löschen</li>
  <li>Datei sperren</li>
  <li>Dateiinfos editieren (Titel, Author, Beschreibung)</li>
  <li>Sterne-Bewertung und Kommentare anzeigen</li>
  <li>Definition maximale Dateigröße, erlaubte Dateitypen, maximale Anzahl der Dateien</li>
  <li>Einzelne Dateien oder mehrere hochladen</li>
  <li>Dateien von unsplashed.com laden</li>
  <li>Dateien per Link einbinden</li>
  <li>Bei einem einzelnen Bild soll eine Dropzone angezeigt werden (wenn ein Bild vorhanden ist, soll dieses als Hintergrund angezeigt werden + Link zum Löschen der Datei)</li>
  <li>Definition, ob eine Fortschrittsanzeige (Queue) angezeigt werden soll oder nicht</li>
</ul>
