<div fxLayout="row" fxLayoutWrap="wrap">

  <div fxFlex="100">
    <mat-card class="mat-card-top">
      <mat-card-title>
        <mat-icon>details</mat-icon>
        {{'general.menu.location.detail' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>

      <mat-card-content *ngIf="location && categories$ && members$; else loadingTemplate">

        <mat-tab-group [dynamicHeight]="true">
          <mat-tab label="{{'general.locations.edit.mainTitle' | translate}}">
            <div fxLayout="row" fxLayoutWrap="wrap">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
                <location-detail-main
                  [location]="location"
                  [categories$]="categories$">
                </location-detail-main>

                <location-detail-contact
                  [showLinks]="false"
                  [members]="members$ | async"
                  [location]="location">
                </location-detail-contact>

                <h3>{{'general.locations.detail.assignedArticlesTitle' | translate }}</h3>
                <ul *ngIf="(articles | filterBy: ['assignedLocation'] : location.id)?.length > 0; else noArticlesTemplate">
                  <li *ngFor="let article of (articles | filterBy: ['assignedLocation'] : location.id) | orderBy: ['-articleDate']">
                    <a [routerLink]="['/articles/detail', article.id]">
                      {{article.title}} {{article.articleDate | date: 'dd.MM.yy'}}
                    </a>
                  </li>
                </ul>
              </div>


              <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
                <h3>{{'general.locations.edit.photoTitle' | translate}}</h3>
                <img [src]="location.imageUrl" *ngIf="location.imageUrl; else noImageTemplate" />
              </div>

              <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
                <h3>{{'general.locations.edit.mapTitle' | translate}}</h3>
                <location-detail-map [location]="location"></location-detail-map>
              </div>

            </div>
          </mat-tab>
          <mat-tab label="{{'general.locations.media.list' | translate}}">
            <div fxLayout="row" fxLayoutWrap="wrap">
              <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
                ToDo
                <!-- <location-detail-media [location]="location"></location-detail-media>-->
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>

      <mat-card-actions>
        <div class="button-row">
          <a mat-raised-button color="primary" [routerLink]="['/locations']">
            {{'general.menu.location.list' | translate}}
          </a>
          <a mat-raised-button color="accent" [routerLink]="['/locations/edit', location.id]">
            {{'general.edit' | translate }}
          </a>
          <a mat-raised-button color="warn" (click)="removeLocation(location)">
            {{'general.delete' | translate }}
          </a>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #loadingTemplate>Lade ...</ng-template>

<ng-template #noArticlesTemplate>
  <p>{{ 'general.locations.detail.noAssignedArticles' | translate }}</p>
</ng-template>

<ng-template #noImageTemplate>
  <p>{{ 'general.locations.edit.noLogo' | translate }}</p>
</ng-template>
