<div fxLayout="row" fxLayoutWrap="wrap">

  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="mat-card-top">
      <mat-card-title>
        <mat-icon>person</mat-icon>
        {{'general.menu.user.detail' | translate}}
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>

      <mat-card-content *ngIf="user; else loadingTemplate">
        <table class="table table-responsive table-striped table-bordered table-hover">
          <tr>
            <td>{{'general.users.list.colTitles.onlineStatus' | translate}}</td>
            <td><!--<user-online-status [onlineStatus]="user.onlineStatus"></user-online-status>--></td>
          </tr>
          <tr>
            <td>
              {{'general.users.list.colTitles.firstName' | translate}},
              {{'general.users.list.colTitles.lastName' | translate}}
            </td>
            <td>{{user.firstName}} {{user.lastName}}</td>
          </tr>
          <tr>
            <td>{{'Global.Login.Email' | translate}} ({{'general.users.detail.emailVerified' | translate}})</td>
            <td>
              <a [href]="'mailto:' + user.email"><i class="fa fa-envelope-o"></i></a>
              <i class="fa"
                 [ngClass]="user.emailVerified ? 'fa fa-check text-success' : 'fa fa-uncheck text-error'"></i>
            </td>
          </tr>
          <tr>
            <td>{{'general.users.detail.providerId' | translate}}</td>
            <td>{{user.providerId}}</td>
          </tr>
          <tr>
            <td>{{'general.users.edit.assignedRole' | translate}}</td>
            <td>
              <ul>
                <li *ngFor="let role of user.assignedRoles">
                  {{role}}
                </li>
              </ul>
              <!--{{
              user.assignedRoles !== ''
              ? ('general.users.edit.roles.' + user.assignedRole | translate)
              : 'general.users.edit.roles.noAssignedRole' | translate
              }}-->
            </td>
          </tr>
        </table>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button class="shadow-none">Save</button>
        <button mat-raised-button color="primary">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">

  </div>
</div>
<!--
                          <li class="m-nav__item" *ngIf="user">
                            <a class="m-nav__link" [routerLink]="['/users/edit', user.id]">
                              <i class="m-nav__link-icon fa fa-pencil"></i>
                              <span class="m-nav__link-text">{{'general.edit' | translate }}</span>
                            </a>
                          </li>
                          <li class="m-nav__item" *ngIf="user">
                            <a class="m-nav__link" (click)="removeUser(user)">
                              <i class="m-nav__link-icon fa fa-remove"></i>
                              <span class="m-nav__link-text">{{'general.delete' | translate }}</span>
                            </a>
                          </li>
                          <li class="m-nav__separator m-nav__separator--fit"></li>
                          <li class="m-nav__item">
                            <a class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm"
                               [routerLink]="['/users/list']">
                              {{'general.menu.user.list' | translate}}
                   -->

<!--</div>

      <h3 class="m-portlet__head-text">{{'general.users.detail.imageTitle' | translate }}</h3>
    </div>
  </div>
</div>
<div class="m-portlet__bod text-center m--padding-15">
  <img *ngIf="user.photoURL; else noPhotoTemplate" [src]="user.photoURL" class="img img-responsive img-circle"/>
  <p *ngIf="user && !user.photoURL">{{'general.users.detail.noImage' | translate }}</p>
-->

<ng-template #loadingTemplate>Lade</ng-template>

<ng-template #noPhotoTemplate>
  <img src="./assets/sfw/placeholder/avatar_male.jpg">
</ng-template>
