<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveSettings()"
          [formGroup]="form">
      <mat-card>
        <mat-card-title>
          <mat-icon>list</mat-icon>
          {{'general.menu.application.main' | translate}}
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <mat-tab-group [dynamicHeight]="true" *ngIf="application; else loadingTemplate">
            <mat-tab label="{{'general.applications.mainTitle' | translate}}">

              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="46"
                     fxFlex.gt-xs="100"
                     fxFlex="100">
                  <div fxLayout="row" fxLayoutWrap="wrap" formGroupName="page">

                    <mat-form-field fxFlex.gt-sm="100"
                                    fxFlex.gt-xs="100"
                                    fxFlex="100">
                      <input matInput
                             placeholder="{{'general.applications.page.name' | translate}}"
                             formControlName="name"/>
                      <mat-hint>{{'general.applications.page.nameDescription' | translate}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm="49"
                                    fxFlex.gt-xs="100"
                                    fxFlex="100">
                      <input matInput
                             placeholder="{{'general.applications.page.emailTitle' | translate}}"
                             formControlName="email"/>
                      <mat-hint>{{'general.applications.page.emailDescription' | translate}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlexOffset="1"
                                    fxFlex.gt-sm="50"
                                    fxFlex.gt-xs="100"
                                    fxFlex="100">
                      <input matInput
                             placeholder="{{'general.applications.page.title' | translate}}"
                             formControlName="title"/>
                      <mat-hint>{{'general.applications.page.titleDescription' | translate}}</mat-hint>
                    </mat-form-field>

                    <div fxFlex="100" style="margin-top: 25px">
                      <label>{{'general.applications.page.descriptionDescription' | translate}}</label><br/>
                      <quill-editor [style]="{height: '150px'}"
                                    formControlName="description">
                      </quill-editor>
                    </div>
                  </div>
                </div>
                <div fxFlex.gt-sm="25"
                     fxFlex.gt-xs="100"
                     fxFlex="100"
                     fxFlexOffset="2"
                     formGroupName="urlShortening">
                  <h3>{{'general.applications.urlShorteningTitle' | translate}}</h3>
                  <div fxLayout="column">

                    <mat-checkbox fxflex="100"
                                  formControlName="isEnabled">
                      {{'general.applications.urlShortening' | translate}}
                    </mat-checkbox>

                    <br/>

                    <mat-form-field fxflex="100" style="margin-top: 25px;">
                      <mat-select placeholder="{{'general.applications.urlShorteningService' | translate}}"
                                  formControlName="provider">
                        <mat-option>ToDo</mat-option>
                        <!--<mat-option *ngFor="let shorteningProvider of applicationService.getShorteningProviders() | orderBy: ['title']"
                                [value]="shorteningProvider.value">
                          {{shorteningProvider.title}}
                        </mat-option>-->
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div fxFlex.gt-sm="25"
                     fxFlex.gt-xs="2"
                     fxFlex="100"
                     fxFlexOffset="2"
                     formGroupName="registration">
                  <h3>{{'general.applications.registration.title' | translate}}</h3>
                  <div fxLayout="column">

                    <mat-checkbox fxflex="100"
                                  formControlName="isAllowed">
                      {{'general.applications.registration.isEnabled' | translate}}
                    </mat-checkbox>

                    <br/>
                    <mat-form-field fxflex="100" style="margin-top: 25px;">
                      <mat-select placeholder="{{'general.applications.registration.newUserLabel' | translate}}"
                                  formControlName="defaultRole">
                        <mat-option>ToDo</mat-option>
                        <!--<mat-option *ngFor="let role of rolesService.getRoles() | keys" [value]="role">
                          {{'general.users.edit.roles.' + role | translate}}
                        </mat-option>-->
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>


            </mat-tab>
            <mat-tab label="{{'general.applications.downtime.title' | translate}}">
              <div fxLayout="row" fxLayoutWrap="wrap">
                <div fxFlex.gt-sm="50"
                     fxFlex.gt-xs="100"
                     fxFlex="100"
                     formGroupName="downtime">
                  <div fxLayout="column">
                    <mat-checkbox fxflex="100"
                                  formControlName="isEnabled">
                      {{'general.applications.downtime.isActive' | translate}}
                    </mat-checkbox>

                    <br/>

                    <div fxFlex="100" style="margin-top: 25px">
                      <label>{{'general.applications.downtime.message' | translate}}</label><br/>
                      <quill-editor [style]="{height: '150px'}"
                                    formControlName="message">
                      </quill-editor>
                      <p>{{'general.applications.downtime.messageDescription' | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="{{'general.applications.socialTitle' | translate}}">
              <!--<settings-social-data [form]="form"
                                    (removeSocialProvider)="removeSocialProvider($event)"
                                    (addSocialProvider)="addSocialProvider()">
              </settings-social-data>-->
            </mat-tab>
            <mat-tab label="{{'general.applications.staticTitle' | translate}}">
              <static-pages
                [application]="application"
                [form]="form"
                [selectedStaticPage]="selectedStaticPage"
                (selectedStaticPage)="setSelectedStaticPage($event)"
                (addStaticPage)="addStaticPage()"
                (removeStaticPage)="removeStaticPage($event)">
              </static-pages>
            </mat-tab>
            <mat-tab label="test">
              <pre>{{application | json}}</pre>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-row">
            <button mat-raised-button
                    color="primary"
                    type="submit">
              {{'general.applications.updateApplication' | translate}}
            </button>
            <a mat-raised-button
               color="accent"
               (click)="cancel()">
              {{'general.cancel' | translate}}
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

</div>

<ng-template #loadingTemplate>
  Lade ...
</ng-template>
