<div class="image-uploader" [formGroup]="form">
  <div class="upload-form">
    <label *ngIf="currentUploads.length === 0">
      <input type="file"
             formControlName="imageUrl"
             (change)="onFileChange($event)"
             [multiple]="uploaderConfig.multiple">

      <button *ngIf="!uploaderConfig.autoUpload"
              type="button"
              [disabled]="!selectedFiles"
              (click)="uploadFile()">
        Upload
      </button>
    </label>

    <label *ngIf="currentUploads.length === 1">
      <mat-progress-bar
        style="margin: 0 15px"
        mode="determinate"
        value="{{ currentUploads[0].percentageChanges | async }}">
      </mat-progress-bar>
    </label>

    <a class="image-uploader-unsplash">
      <mat-icon>add_a_photo</mat-icon>
    </a>
  </div>

  <a title="Delete" class="image-cancel" *ngIf="currentImageUrl" (click)="deleteMedia(currentImageUrl)">
    <mat-icon>delete</mat-icon>
  </a>
</div>

<pre>{{currentUploads | json}}</pre>
<div *ngFor="let upload of currentUploads && uploaderConfig.multiple">
  <!--<upload-detail [upload]="upload"></upload-detail>-->
</div>


