.session {
  background: transparent url('/assets/sfw/background.jpg') no-repeat center center;
  background-size:     cover;
  /*grayScale
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}
