<div class="row" [formGroup]="form">
  <div class="col-xl-6">
    <div class="form-body">
      <div class="form-group form-md-line-input">
        <label translate>{{'general.name'}}</label>
        <input class="form-control" formControlName="title"
               placeholder="{{'general.locations.edit.namePlaceholder' | translate}}">
      </div>

      <div class="form-group">
        <label translate>{{'general.category'}}</label>
        <select class="form-control" formControlName="category" *ngIf="categoryTypes">
          <option value="" disabled translate>{{'general.locations.edit.categoryDefaultPlaceholder' }}</option>
          <option
            *ngFor="let category of categories | filterBy: ['assignedCategoryType']: categoryTypes[0].id | orderBy: 'title'"
            [value]="category.id">
            {{category.title}}
          </option>
        </select>
      </div>

      <div class="form-group form-md-line-input">
        <label>{{'general.locations.edit.priceList' | translate}}</label>
        <input class="form-control" formControlName="prices"
               placeholder="{{'general.locations.edit.pricesPlaceholder' | translate}}">
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="form-body">
      <div class="form-group form-md-line-input">
        <label>{{'general.locations.edit.opening' | translate}}</label><br/>
        <textarea class="form-control" formControlName="opening"
                  placeholder="{{'general.locations.edit.opening' | translate}}"></textarea>
      </div>

      <div class="form-group form-md-line-input">
        <label>{{'general.description' | translate}}</label><br/>
        <textarea class="form-control" formControlName="text">
              placeholder="{{'general.description' | translate}}"></textarea>
      </div>
    </div>
  </div>
</div>
