<div fxLayout="row"
     fxLayoutWrap="wrap" [formGroup]="form">

  <div fxFlex="100"
       formArrayName="social">

    <button mat-raised-button
            type="button"
            color="primary"
            (click)="addSocialProvider.emit(true)">
      {{'general.applications.social.addProvider' | translate}}
    </button>

    <div style="margin-top: 25px"
         *ngFor="let provider of form.controls['social']['controls']; let i=index">

      <div [formGroupName]="i"
           fxLayout="row"
           fxLayoutWrap="wrap">

        <mat-form-field fxFlex.gt-sm="25"
                        fxFlex="100">
          <input matInput
                 placeholder="{{'general.applications.social.chooseProvider' | translate}}"
                 formControlName="title"/>
        </mat-form-field>

        <mat-form-field fxFlexOffset="5"
                        fxFlex.gt-sm="35"
                        fxFlex="100">
          <input matInput
                 placeholder="{{'general.applications.social.setLink' | translate}}"
                 formControlName="link"/>
        </mat-form-field>

        <div fxFlexOffset="5">
          <a mat-raised-button
             target="_blank"
             [href]="form.controls['social']['controls'][i]['controls']['link']['value']"
             *ngIf="form.controls['social']['controls'][i]['controls']['link']['value']"
             type="button">
            {{'general.applications.social.visitLink' | translate}}
          </a>
          <button mat-raised-button
                  type="button"
                  (click)="removeSocialProvider.emit(i)"
                  color="warn">
            {{'general.applications.social.deleteProvider' | translate}}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
