<div fxLayout="row"
     fxLayoutWrap="wrap" *ngIf="clubs$; else loadingTemplate">

  <div fxFlex.gt-xs="33"
       fxFlex="100"
       *ngFor="let club of clubs$">
    <mat-card>
      <mat-card-header class="mt-0">
        <img style="border-radius: 0" matCardAvatar [src]="club.logoURL">
        <mat-card-subtitle>
          <a class="font-weight-bold mat-text-primary" target="_blank"
             *ngIf="club.fussballde.clubUrl"
             [href]="club.fussballde.clubUrl">Fussball.de
          </a>
        </mat-card-subtitle>
        <mat-card-title>{{club.title}}</mat-card-title>
      </mat-card-header>

      <mat-card-content [innerHtml]="club.description"></mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/clubs/detail', club.id]">
          {{'general.detail' | translate }}
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/clubs/edit', club.id]">
          {{'general.edit' | translate }}
        </button>
        <button mat-raised-button color="warn" (click)="remove.emit(club)">
          {{'general.delete' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<ng-template #loadingTemplate>
  <loading-indicator></loading-indicator>
</ng-template>
