<!--<div class="m-list-timeline">
  <div class="m-list-timeline__items">

    <div class="m-list-timeline__item" (click)="setMediaGallery.emit()">
      <span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
      <span class="m-list-timeline__text">{{'general.media.allFiles' | translate}} <!--{{ items.length }}--</span>
    </div>

    <div class="m-list-timeline__item" *ngFor="let gallery of assignedGalleries" (click)="setMediaGallery.emit(gallery)">
      <span class="m-list-timeline__badge"></span>
      <span class="m-list-timeline__text">{{gallery.title}} <!--{{ (items | filterByGallery : gallery).length }}--</span>
    </div>
  </div>
</div>-->
