<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover table-responsive"
           *ngIf="seasons && club && teams; else loadingTemplate">
      <thead>
      <tr>
        <th>{{'general.clubs.edit.assignedTeams.season' | translate }}</th>
        <th>{{'general.clubs.edit.assignedTeams.teamCount' | translate}}</th>
        <th>{{'general.clubs.edit.assignedTeams.teams' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let season of seasons | orderBy: 'title'">
        <td>{{season.title}}</td>
        <td>{{(teams | filterBy: ['assignedSeason'] : season.id).length}}
        </td>
        <td style="width: 70%;">
          <ul>
            <li *ngFor="let team of teams | filterBy: ['assignedSeason'] : season.id | orderBy: 'title'">
              <a [routerLink]="['/teams/detail', team.id]">{{team.title}} {{team.subTitle}}</a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
